@{
    ViewBag.Title = "Review_Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<script src="~/Scripts/Js_Controllers/Reviewer.Js"></script>*@
<script src="~/Scripts/Js_Controllers/ReviewerLogin.js"></script>

 <div class="content" ng-controller="Reviewer_login">
     <div class="container">
         <div class="showbox" style="display:none" id="loader">
             <div class="loader">
                 <svg class="circular" viewBox="25 25 50 50">
                     <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" />
                 </svg>
             </div>
         </div>
         <div class="form-box">
             <form>
                 <div class="input-row">
                     <input type="text" name="" placeholder="Username/Email/Phone Number" ng-model="LogInReviewer" required autofocus>
                 </div>
                 <div class="input-row">
                     <input type="password" name="" placeholder="Password" ng-model="LogInPassword" required>
                 </div>
                 <div class="input-row">
                     <input type="submit" name="" value="Log In" ng-click="logInApi()">
                 </div>
             </form>
             <p><span style="color: #000;">Forgot password ?</span> Send an email to Vid world <a href="" type="submit" ng-click="RedirectFP()">Click Here</a></p>
         </div>
     </div>
</div>
