<div class="m-content" ng-controller="UserController">
                    <!--Begin::Section-->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="m-portlet">
                                <div class="m-portlet__body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="user-thumb pull-left">
                                                <img src="https://s3.amazonaws.com/vidworld/FEDCA4DB-4FA3-467F-8BB9-D66B1348CD06-8258-00001CD689856FA0.png" height="80" width="80" alt="">
                                            </div>
                                            <h4>Ronal Smith</h4>
                                            <h6>United States</h6>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="text-right">
                                                <h5>App Ratings</h5>
                                                <div class="rating">
                                                    <i class="la la-star"></i>
                                                    <i class="la la-star"></i>
                                                    <i class="la la-star"></i>
                                                    <i class="la la-star-o"></i>
                                                    <i class="la la-star-o"></i>
                                                </div>
                                            </div>
                                            <h5 class="text-right">Pending Amount: $122<br />Total Amount: $312</h5>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <div class="post-wrapper">
                                                <div class="post">
                                                    <div class="post-user">
                                                        <a href="">
                                                            <img src="https://s3.amazonaws.com/vidworld/FEDCA4DB-4FA3-467F-8BB9-D66B1348CD06-8258-00001CD689856FA0.png" height="80" width="80" alt="">
                                                        </a>
                                                        <h4 class="">legion</h4>
                                                        <p>3 views</p>
                                                    </div>
                                                    <div class="post-video">
                                                        <div class="video-thumb youtube">
                                                            <img src="https://s3.amazonaws.com/vidworld/1121228F-3800-4566-B677-D7DCB0EC8E0A-1846-000005F81CFDF31D.png">
                                                            <img src="Assets/images/play_small.png" class="video-play-icon">
                                                        </div>
                                                        <div class="video" style="display: none;">
                                                            <iframe width="630" id="youtube_video" height="334" frameborder="0" gesture="media" allow="autoplay" allowfullscreen="" src="https://www.youtube.com/embed/VOkCmvR44dw?autoplay=0&amp;playsinline=1&amp;rel=0&amp;amp;showinfo=0"></iframe>
                                                        </div>
                                                    </div>

                                                    <div class="post-actions">
                                                        <ol>
                                                            <li><a href="#"><i class="la la-heart"></i></a></li>
                                                            <li><a href="#"><i class="la la-comment"></i></a></li>
                                                            <li><a href="#"><i class="la la-tag"></i></a></li>
                                                        </ol>
                                                    </div>
                                                    <p class="liked-by" ng-show="item.PostLikeCount>0">
                                                        Liked by
                                                        <a class="">You</a>
                                                        <a>, varun.ta</a>
                                                        <span class=""> and 2 others.</span>
                                                    </p>

                                                    <h3>The pedegree dog show.</h3>
                                                    <p class="hash-tags"><a href="#">#doveshampoo</a> #mypair #beautifulhair</p>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                    <div class="post-detail">
                                                        <div class="advt">
                                                            <div class="pos-rel" ng-click="RedirectToUrl(advertismentObject)">
                                                                <img src="https://images-na.ssl-images-amazon.com/images/I/51V4V17KWrL.jpg" class="cursor-pointer">
                                                                <img src="https://s3.amazonaws.com/vidworld/Icon_Affiliates/amazon.png" class="p-brand-logo cursor-pointer">
                                                                <div class="overlay"><a href="">Visit</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="advt">
                                                            <div class="pos-rel" ng-click="RedirectToUrl(advertismentObject)">
                                                                <img src="https://images-na.ssl-images-amazon.com/images/I/51V4V17KWrL.jpg" class="cursor-pointer">
                                                                <img src="https://s3.amazonaws.com/vidworld/Icon_Affiliates/amazon.png" class="p-brand-logo cursor-pointer">
                                                                <div class="overlay"><a href="">Visit</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="advt">
                                                            <div class="pos-rel" ng-click="RedirectToUrl(advertismentObject)">
                                                                <img src="https://images-na.ssl-images-amazon.com/images/I/51V4V17KWrL.jpg" class="cursor-pointer">
                                                                <img src="https://s3.amazonaws.com/vidworld/Icon_Affiliates/amazon.png" class="p-brand-logo cursor-pointer">
                                                                <div class="overlay"><a href="">Visit</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="view-all-comments"><a href="">View all 8 comments</a></p>
                                                    <ol class="comments">
                                                        <li><span>jobin.ta</span> <span>test hide </span></li>
                                                        <li><span>jobin.ta</span> <span>test hide </span></li>
                                                    </ol>
                                                    <p class="post-time time">1 Weeks Ago</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal fade" id="new_reviewer" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                New Reviewer
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="form-control-label">
                                                        Name:
                                                    </label>
                                                    <input type="text" class="form-control" id="recipient-name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email-text" class="form-control-label">
                                                        Email:
                                                    </label>
                                                    <input type="text" class="form-control" id="email-text">
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone-text" class="form-control-label">
                                                        Phone:
                                                    </label>
                                                    <input type="text" class="form-control" id="phone-text">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password-text" class="form-control-label">
                                                        Assign Password:
                                                    </label>
                                                    <input type="password" class="form-control" id="password-text">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Confirm-text" class="form-control-label">
                                                        Confirm Password:
                                                    </label>
                                                    <input type="password" class="form-control" id="Confirm-text">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="button" class="btn btn-info">
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--End::Section-->
                </div>
          

