<div class="m-content" ng-controller="ProfanityWordsController">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <input type="file" data-file-reader-directive="fileContent" accept=".csv" style="width:200px;" />
                            </li>
                            <li class="m-portlet__nav-item">
                                <button class="btn btn-primary" ng-click="uploadFile()"><i class="fa fa-upload"></i>&nbsp; Upload New Profanity Words</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="table-responsive">
                        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                            <thead>
                                <tr>
                                    <th>
                                        Sr. No.
                                    </th>
                                    <th>
                                        Profanity Word
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Created Date
                                    </th>
                                    <th>
                                        Updated Date
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key,item) in  vm.ProfanityList">
                                    <td>{{key+((currentPage - 1) * 10)+1}}</td>
                                    <td>{{item.ProfanityWord}}</td>
                                    <td>{{item.Status}}</td>
                                    <td>{{item.CreatedDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.UpdatedDate | date:'dd/MM/yyyy'}}</td>
                                    <td>
                                        <a data-toggle="modal" data-target="#add_hashtag" ng-click="vm.OpenView(item)" class="btn btn-outline-success btn-sm">Update</a>
                                        <a  class="btn btn-secondary btn-sm" ng-click="vm.BlockUser(item)">{{item.Block}}</a>
                                    </td>
                                </tr>                             
                            </tbody>
                        </table>
                    </div>
                    <div class="paging text-right">
                        <a ng-show="currentPage>1" ng-click="prevPage()" class="btn btn-info">« Prev</a>
                        <a ng-click="nextPage()" ng-show="(vm.ProfanityList.length >= 10 && totalCount > currentPage * pageSize)" class="btn btn-info">Next »</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="add_hashtag" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Update Profanity Word
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="addProfanityform" novalidate>
                                <div class="form-group">
                                    <!--<label for="recipient-name" class="form-control-label">
                Hashtag Name
            </label>-->
                                    <input type="text" class="form-control" id="recipient-name" ng-model="vm.ProfanityWord" required>
                                    <p class="inp-error" ng-show="vm.ProfanityTrue && !vm.ProfanityWord">{{'Please enter Profanity Word'}}</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-info" ng-click="vm.AddProfanity()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--End::Section-->
</div>
