@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.dont-break, * {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
body {
    font-family: 'Montserrat', sans-serif;
    line-height:1;    
}
body.footer-fixed {
    padding-bottom: 60px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    cursor: pointer;
}
input[type="submit"], button {
    cursor: pointer;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
* {
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    color:  #000;
    margin:  0 0 22px;
    font-weight: 600;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
p {
    font-size: 16px;
    line-height: 22px;
    margin:  0 0 16px;
}
html, body {
    height: 100%;
}
input, textarea {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0px auto;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    padding: 15px 0;
    background: #35abf7;
}
.content {
    padding: 30px 0;
    min-height: 400px;
}
.footer {
    padding: 20px 0;
    background: #000;
    width: 100%;
}
body.footer-fixed .footer {
    position: fixed;
    bottom: 0;
    z-index: 99;
}
.footer ul {
    list-style:  none;
}
.footer ul > li {
    display: inline-block;
}
.footer ul > li + li {
    margin-left:  60px;
}
.footer ul > li a {
    color: #fff;
}
.form-box {
    max-width: 500px;
    height: auto;
    margin: 60px auto;
}
.input-row {
    position: relative;
    margin-bottom: 30px;
}
.input-row input[type="text"],
.input-row input[type="password"] {
    width: 100%;
    height: 50px;
    padding:  10px 20px;
    color: #000;
    font-size: 16px;
    line-height: 16px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999;
}
.input-row input[type="text"]::placeholder,
.input-row input[type="password"]::placeholder {
    color: #999;
    opacity: 1;
}
.input-row input[type="submit"] {
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    background: #35aaf6;
    padding:  17px 40px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    text-transform: uppercase;
    box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.39);
}
.form-box p {
    color: #999;
}
.form-box a {
    color: #35abf7;
    text-decoration: underline;
}
.logo {
    float: left;
}
.hashTag {
    color: #35abf7;
}
.user {
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin-top: 18px;
}
.user a {
    color: #fff;
}
.post {
    max-width: 730px;
    margin: 0px auto;
    padding: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 2.5px 4.3px 35px 0 rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2.5px 4.3px 35px 0 rgba(0, 0, 0, 0.28);
}
.timer {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 90px;
    color: #ff0000;
}
.timer span {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    
}
.timer a.skip {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #35abf7;
    padding: 4px 0;
    border-radius: 4px;
    margin-bottom: 6px;
}
.post-user,
.post-ad,
.post-content {
    width: 100%;
    float: left;
    margin:  0 0 20px;
}
.post-ad .video-thumb {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding-bottom: 56.25%;
}
.post-ad .video-thumb > img:not(.video-play-icon) {
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.post-ad .video-thumb img.video-play-icon {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.post-ad .video {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 56.25%;
}
.post-ad .video video,
.post-ad .video object,
.post-ad .video iframe {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}
.post-user img {
    margin: 0 18px 0 0;
    float: left;
    box-shadow: 2.8px 4.1px 9px 0 rgba(12, 12, 13, 0.2);
    -webkit-box-shadow: 2.8px 4.1px 9px 0 rgba(12, 12, 13, 0.2);
}
.post-user h4 {
    color:  #999;
    font-size: 20.7px;
    line-height: 1.77;
    font-weight: 400;
    padding-top: 8px;
    margin: 0px;
}
.post-user p {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 1.2px;
}
.post-content h4,
.post-content p,
.post-content a {
    color:  #666;
}
.post-content .edit-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.post-content .edit-content a {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #38b8fc;
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.post-content .edit-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}
.post-content .edit-field input[type="text"],
.post-content .edit-field textarea {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    border-bottom: 1px solid rgba(167,166,166,0.5);
    padding: 12px 0;
    font-size: 18px;
    line-height: 20px;
    color: #999;
}
.post-content .edit-field .btn-group .btn {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 18px;
}
.hash {
    color: #35aaf6;
    font-weight: 600;
    display: inline-block;
}
.products-wrapper {
    margin:  0 0 30px;
    float: left;
    width: 100%;
}
.product-title {
    color:  #666;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin: 0 0 20px;
}
.product-title a {
    color:  #333;
    float: right;
}
.products-wrap {
    width: 48%;
    float: left;
    padding: 0px;
    position: relative;
    margin-left: 4%;
    margin-bottom: 26px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.products-wrap:nth-child(2n+1) {
    margin-left: 0px;
    clear: both;
}
.product-title-wrap {
    padding: 10px;
    width: 100%;
    float: left;
}
.products {
    float: left;
    width: 100%;
    margin: 0px;
    position: relative;   
    overflow: hidden;
    padding-bottom: 80%;
}
.products > img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.products-wrap .close {
    right: 10px;
    top: 10px;
    color:  #ff0000;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    z-index: 9;
}
.products .product-by-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
}
.products .product-by-icon img {
    width: 100%;
    height: auto;
}
.products .overlay {
    background: rgba(0,0,0,0.4);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.products-wrap a.visit {
    color: #fff;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    background: #35abf7;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
}
.products:hover .overlay {
    top: 0;
}
.affiliate-title {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 6px;
    text-align: left;
    height: 36px;
    overflow: hidden;
    color: #35abf7;
}
.affiliate-price {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin: 0px;
    color: #000;
}
.add-more-product {
    float: left;
    width: 100%;
    margin: 0 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.add-more-product button {
    color:  #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px;
    border: none;
    background: #35aaf6;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}
.add-more-product button.btn-green {
    background: #5FA344;
    margin: 0 0 10px;
}
.add-more-product button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
.action-buttons {
    float: left;
    width: 100%;
    text-align:  center;
}
.action-buttons .btn {
    width: 160px;
    color: #fff;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    line-height: 16px;
    padding: 14px 30px;
    display: inline-block;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
}
.action-buttons button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
.btn-green {
    background: #5FA344;
}
.btn-blue {
    background: #35abf7;
}
.btn-red {
    background: #F22F41;
}
ul.ads {
    list-style: none;
}
ul.ads li {
    float: left;
    width: 25%;
    padding: 1.5px;
    position: relative;
}
ul.ads li:nth-child(4n+1) {
    clear: left;
}
ul.ads li .affiliates {
    width: 100%;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}
ul.ads li .affiliates > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
ul.ads li .product-by-icon {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100px;
}
ul.ads li .product-by-icon img {
    width: 100%;
    height: auto;
}
ul.ads li label {
    top: 10px;
    right: 8.5px;
    position: absolute;
    z-index: 3;
}
ul.ads li i {
    color:  #fff;
    font-size: 28px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 25px 0px rgb(53, 171, 247);
	-moz-box-shadow: 0px 0px 25px 0px rgb(53, 171, 247);
}
ul.ads li input[type="checkbox"] {
    display: none;
}
ul.ads li input[type="checkbox"]:checked + i {
    color: #fff;
}
ul.ads li input[type="checkbox"]:checked + i:before {
    content: "\e92a";
    font-family: icomoon;
    color:  #35abf7;
}
ul.ads li .overlay {
    background: rgba(0,0,0,0.4);
    top: 100%;
    left: 1.5px;
    width: 100%;
    width: calc(100% - 3px);
    height: 100%;
    height: calc(100% - 3px);
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease;
}
ul.ads li .visit {
    text-align: center;
}
ul.ads li .visit a {
    color: #fff;
    padding: 5px 10px;
    background: #35abf7;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
}
ul.ads li:hover .overlay {
    top: 1.5px;
}
body.overlay {
    overflow-y: hidden;
}
body.overlay:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
}
.popup {
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
	background: #fff;
	width: 100%;
	max-width: 730px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index: 9999;
	box-shadow: 0.5px 0.9px 38px 0 rgba(0, 0, 0, 0.27);
	-webkit-box-shadow: 0.5px 0.9px 38px 0 rgba(0, 0, 0, 0.27);
}
.advt-pop {
    height: 400px;
    max-height: calc(100vh - 340px);
    overflow-y: auto;
}
.popup.large {
	max-width: 1280px;
}
.popup.small {
	max-width: 460px;
}
.popup-head {
	width: 100%;
	float: left;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
	padding: 20px 30px;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	border-bottom: 1px solid #e4e4e4;
}
.popup-head .popup-head-left,
.popup-head .popup-head-right {
	display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.popup-head h4 {
	font-size: 21px;
	line-height: 20px;
	font-weight: normal;
	display:  inline-block;
    margin: 0px;
}
.popup-head .back {
	display: inline-block;
	margin-right: 22px;
}
.popup-head .close {
	background: none;
	border: none;
	font-size: 16px;
	line-height: 20px;
	margin-left: 22px;
}
.popup-head .action-btn {
	color: #35abf7;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
}
.popup-head .popup-head-btn {
	color: #fff;
	font-size: 13px;
	line-height: 12px;
	letter-spacing: 1px;
	display: inline-block;
	text-transform: uppercase;
	padding: 16px 35px;
	background: #3bacf6;
	font-weight: 700;
	border-radius: 23px;
	-moz-border-radius: 23px;
	-webkit-border-radius: 23px;
	border: solid 1px #34a8f3;
	box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.29);
	-webkit-box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.29);
}
.popup-body {
	width: 100%;
	float: left;
	position: relative;
	padding: 32px 30px;
	/*border-bottom: 1px solid #e4e4e4;*/
}
.popup-body .blank-state {
    text-align: center;
}
.popup-body .blank-state img {
    max-width: 100%;
    margin-bottom: 16px;
}
.popup-body .blank-state h4 {
    font-size: 16px;
    margin-bottom: 0px;
}
.pop-submit-button {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 20px;
    text-align: right;
    margin-bottom: -33px;
}
.pop-submit-button .btn {
    width: 130px;
	color: #fefefe;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 1px;
	padding: 16px 16px;
	text-align: center;
	border-radius: 25px;
    display: inline-block;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border: none;
	text-transform: uppercase;
	box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.39);
	-webkit-box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.39);
}
.popup-body.no-padding {
	padding: 0px 0 0 0;
}
.popup > .advt-searh {
	width: 100%;
	float: left;
}
.popup-body select {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(167,167,167,0.5);
    padding: 10px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 40px 0;
}
.popup-body .submit-button {
	position: absolute;
	right: 30px;
	bottom: -23px;
}
.popup-body .submit-button .btn {
	width: 130px;
	color: #fefefe;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 1px;
	padding: 16px 16px;
	text-align: center;
	border-radius: 25px;
    display: inline-block;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border: none;
	text-transform: uppercase;
	box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.39);
	-webkit-box-shadow: 0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.39);
}
.ads-top {
    width: 100%;
    float: left;
    padding: 0 20px;
    margin: 10px 0;
}
.ads-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}
.ads-top ul > li a {
    color: #000;
}
.ads-top ul > li.search {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ads-top ul > li + li {
    padding-left: 35px;
}
.ad-search {
    width: 100%;
    float: left;
    margin: 0px;
    position: relative;
}
.ad-search input {
    width: 100%;
    padding: 0px 50px 0px 10px;
    height: 32px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #999;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(195, 193, 193, 0.5);
    -webkit-appearance: none;
}
.ad-search button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 30px;
    border: none;
    background: #fff;
    font-size: 16px;
}
.ads-top .ad-count {
    width: 80px;
    height: 30px;
    background: #35abf7;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}


.advt-searh {
	position: relative;
	border-bottom: 1px solid rgba(195,193,193,0.5);
}
.advt-searh i {
	top: 20px;
	left: 30px;
	position: absolute;
	font-size: 22px;
}
.advt-searh input[type="search"] {
	width: 100%;
	height: 57px;
	border: none;
	outline: none;
	padding: 13px 20px 13px 87px;
	font-size: 22px;
	font-weight: 300;
	color: #999;
}

.selected-ads {
    width: 100%;
    float: left;
    padding: 0 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(195, 193, 193, 0.5);
}
.selected-ads ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
}
.selected-ads ul li {
    width: 75px;
    overflow: hidden;
    position: relative;
}
.selected-ads ul li + li {
    margin-left: 10px;
}
.selected-ads ul li:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.selected-ads ul li img {
    display: block;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.selected-ads ul li i {
    top: 5px;
    right: 5px;
    color: #d4270b;
    cursor: pointer;
    position: absolute;
    font-size: 16px;
}


.popup-body .reason_wrap {
    height: 200px;
}


/*22-02-2018*/
.loadingBg{
	position:fixed; 
	top:0px; 
	left:0px; 
	background:rgba(0,0,0, 0.5);
	width:100%;
	height:100%;
	z-index:100640;
}
.LogingLogo{margin:0px 0px 10px 0px; width:70px;}
.spinner{
  margin:auto;
  width:70px;
  top:45%;
  position:relative;
  text-align:center;
}
.spinner > div {
  width:18px;
  height:18px;
  background-color:#fff;
  border-radius:100%;
  display:inline-block;
  -webkit-animation:bouncedelay 1.4s infinite ease-in-out;
  animation:bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}
.spinner .bounce1{-webkit-animation-delay:-0.32s; animation-delay:-0.32s;}
.spinner .bounce2{-webkit-animation-delay:-0.16s; animation-delay:-0.16s;}

.has-error{border-color: red !important; margin-bottom:0 !important}
.txt_error{padding:5px 0; color:#f00 !important; margin-bottom:10px; clear:both;}
.ui-autocomplete {z-index: 10000000;}
.showbox {
  position:fixed; 
	top:0px; 
	left:0px; 
	background:rgba(0,0,0, 0.5);
	width:100%;
	height:100%;
	z-index:100640;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  top:45%;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #5CACEE;
  }
  40% {
    stroke: #4682B4;
  }
  66% {
    stroke: #0D4F8B;
  }
  80%,
  90% {
    stroke: #003F87;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #5CACEE;
  }
  40% {
    stroke: #4682B4;
  }
  66% {
    stroke: #0D4F8B;
  }
  80%,
  90% {
    stroke: #003F87;
  }
}











@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n443iv');
  src:  url('../fonts/icomoon.eot?n443iv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n443iv') format('truetype'),
    url('../fonts/icomoon.woff?n443iv') format('woff'),
    url('../fonts/icomoon.svg?n443iv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accept_chat_tock:before {
  content: "\e900";
}
.icon-active_star:before {
  content: "\e901";

}
.icon-active:before {
  content: "\e902";

}
.icon-allow:before {
  content: "\e903";
  color: #fff;
}
.icon-attach_image_report_problem:before {
  content: "\e904";

}
.icon-attachemnt:before {
  content: "\e905";

}
.icon-back:before {
  content: "\e906";
}
.icon-birth_down_arrow:before {
  content: "\e907";
}
.icon-birth_up_arrow:before {
  content: "\e908";
}
.icon-bookmark_optiom-copy:before {
  content: "\e909";

}
.icon-bookmark:before {
  content: "\e90a";
}
.icon-chats:before {
  content: "\e90b";
}
.icon-chosse_ad:before {
  content: "\e90c";

}
.icon-comment:before {
  content: "\e90d";
}
.icon-country_code:before {
  content: "\e90e";

}
.icon-cross:before {
  content: "\e90f";
}
.icon-decline:before {
  content: "\e910";
  color: #fff;
}
.icon-delete:before {
  content: "\e911";
  color: #fff;
}
.icon-dropdown_icon:before {
  content: "\e912";
}
.icon-edit_pencil:before {
  content: "\e913";
 
}
.icon-facebbok:before {
  content: "\e914";
 
}
.icon-get_link:before {
  content: "\e915";
 
}
.icon-grid_view_inactive:before {
  content: "\e916";
}
.icon-header_search_cancel:before {
  content: "\e917";
}
.icon-header_search:before {
  content: "\e918";
}
.icon-home:before {
  content: "\e919";
  
}
.icon-inactive_star-copy:before {
  content: "\e91a";
  color: #fff;
}
.icon-inactive:before {
  content: "\e91b";
 
}
.icon-like_icon_option-copy:before {
  content: "\e91c";
  
}
.icon-like_icon-1:before {
  content: "\e91d";
  
}
.icon-like_icon:before {
  content: "\e91e";
}
.icon-list_view:before {
  content: "\e91f";
}
.icon-notificatiobns:before {
  content: "\e920";
}
.icon-remember-me:before {
  content: "\e921";
}
.icon-repost:before {
  content: "\e922";
  
}
.icon-search_cancel:before {
  content: "\e923";
}
.icon-search_dropdown:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e925";
}
.icon-settings_more_options:before {
  content: "\e926";
}
.icon-settings:before {
  content: "\e927";
}
.icon-tag_friends:before {
  content: "\e928";
  
}
.icon-tagged_friends:before {
  content: "\e929";
}
.icon-tick:before {
  content: "\e92a";
  
}
.icon-total_money:before {
  content: "\e92b";
  
}
.icon-twitter:before {
  content: "\e92c";
  
}
.icon-unfill_tick:before {
  content: "\e92d";
  
}
.icon-upload:before {
  content: "\e92e";
  
}
.icon-user_profile_more:before {
  content: "\e92f";
}
.icon-web .path1:before {
  content: "\e930";
 
}
.icon-web .path2:before {
  content: "\e931";
  margin-left: -1.119140625em;
  
}
.icon-youtube:before {
  content: "\e932";
  
}

#hashtags-container {
  width: 100%;
  height: 100px;
  border: 1px solid #bdc7d8;
  background: #fff;
}


@media screen and (max-width: 1280px) {
    .container {
        padding: 0 10px;
    }
    .popup {
        width: 98%;
    }
}
@media screen and (max-width: 1024px) {
    .popup.large {
        overflow-y: auto;
        max-height: 98%;
    }
    .large .pop-submit-button {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 639px) {
    .footer ul > li {
        display: block;
        margin: 0 0 16px;
        text-align: center;
    }
    .footer ul > li + li {
        margin-left: 0;
    }
    .post {
        padding: 10px;
    }
    .timer {
        top: 0px;
        right: 0px;
    }
    ul.ads li {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media screen and (max-width: 479px) {
    .action-buttons .btn {
        display: block;
        width: 100%;
        margin: 16px 0;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .user {
        width: 100%;
        text-align: center;
    }
    .post-content .edit-field {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .post-content .edit-field input[type="text"],
    .post-content .edit-field textarea {
        width: 100%;
        margin: 0 0 20px;
    }
    .post-content .edit-field .btn-group {
        width: 100%;
    }
    ul.ads li {
        width: 100%;
        padding-bottom: 100%;
    }
}