  <div class="m-content" ng-controller="HashtagController">
<!--Begin::Section-->
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a data-toggle="modal" data-target="#add_hashtag" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" ng-click="vm.reset()">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>
                                        Add Hashtag
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input m-input--pill" placeholder="Search" ng-model="vm.SearchHashtag" ng-change="vm.searchHashtagList(vm.SearchHashtag,1)">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                        </li>
                        <li class="m-portlet__nav-item">
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                <a class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link filter">
                                    <i class="fa fa-filter"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link" ng-click="vm.orderByMe('TotalUsage')">
                                                            <i class="m-nav__link-icon fa fa-pie-chart"></i>
                                                            <span class="m-nav__link-text">
                                                                Usage
                                                            </span>
                                                        </a>
                                                    </li>
                                                                       
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-responsive">
                    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                        <thead>
                            <tr>
                                <th>
                                    Sr. No.
                                </th>
                                <th>
                                    Hashtag
                                </th>
                                <th>
                                    Date of Hashtag
                                </th>
                                <th>
                                    Name of Owner
                                </th>
                                <th>
                                    Email ID
                                </th>
                                <th>
                                    Mobile Number
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    Usage
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,item) in  vm.HashtagList | orderBy:vm.myOrderBy ">
                                <td scope="row">
                                    {{key+((currentPage - 1) * 10)+1}}
                                </td>
                                <td >
                                    #{{item.HashTag}}
                                </td>
                                <td>
                                    {{item.CreatedDate | date:'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{item.Username}}
                                </td>
                                <td>
                                    {{item.Email}}
                                </td>
                                <td>
                                    {{item.PhoneNumber}}
                                </td>
                                <td>
                                    {{item.Country}}
                                </td>
                                <td>
                                    {{item.TotalUsage}}
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger btn-sm" ng-click="vm.DeleteHashtag(item)">Delete</a>
                                </td>
                            </tr>
                                         
                        </tbody>
                    </table>
                </div>
                <div class="paging text-right">
                    <a ng-show="currentPage>1" ng-click="prevPage()" class="btn btn-info">« Prev</a>
                    <a ng-click="nextPage()" ng-show="(vm.HashtagList.length >= 10 && totalCount > currentPage * pageSize)" class="btn btn-info">Next »</a>
                </div>
            </div>
        </div>
                           
        <div class="modal fade" id="add_hashtag" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            New Hashtag
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="addHashTagform" novalidate>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">
                                    Hashtag Name
                                </label>
                                <input type="text" class="form-control" id="recipient-name" ng-model="vm.HastagName" required>
                                <p class="inp-error" ng-show="vm.HashTrue && !vm.HastagName">{{'Please enter HashTag Name'}}</p>
                            </div>                                                
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-info" ng-click="vm.AddHashtag()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--End::Section-->
</div>
        