 <div class="m-content" ng-controller="ReportedCommentController">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="top_nav_pills">
                    <ul class="nav nav-pills nav-fill nav-fill-black" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" ui-sref="ReportedPost" ng-click="vm.ChangeTabOnTap(1)" role="tab">
                                Reported Post
                            </a>
                        </li>

                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" ui-sref="ReportedMessage" ng-click="vm.ChangeTabOnTap(2)" role="tab">
                                Reported Messages
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item active">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" ui-sref="ReportedComment" ng-click="vm.ChangeTabOnTap(3)" role="tab">
                                Reported Comments
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">

                    <div class="tab-pane active" id="reported_comments" role="tabpanel">
                        <div class="sub_top_nav_pills">
                            <ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active show" data-toggle="tab" href="" ng-click="spamShow()" role="tab" aria-selected="true">
                                        Spam/Scam
                                    </a>
                                </li>

                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="" ng-click="InapprShow()" role="tab" aria-selected="false">
                                        Inappropriate
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" ng-class="{'active':Spam==true}" id="spam_comments" role="tabpanel" ng-show="Spam">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input m-input--pill" placeholder="Search" ng-model="vm.SearchReportedComment" ng-change="vm.searchReportedCommentList(vm.SearchReportedComment,1)">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="m-portlet__nav-item">
                                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                                    <a class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link filter">
                                                        <i class="fa fa-filter"></i>
                                                    </a>
                                                    <div class="m-dropdown__wrapper">
                                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                        <div class="m-dropdown__inner">
                                                            <div class="m-dropdown__body">
                                                                <div class="m-dropdown__content">
                                                                    <ul class="m-nav">
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link" ng-click="vm.orderByMe('NoOfReport')">
                                                                                <i class="m-nav__link-icon fa fa-line-chart"></i>
                                                                                <span class="m-nav__link-text">
                                                                                    Number of Reports
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item" ng-click="vm.orderByMe('Block')">
                                                                            <a href="" class="m-nav__link">
                                                                                <i class="m-nav__link-icon fa fa-ban"></i>
                                                                                <span class="m-nav__link-text">
                                                                                    Block/Unblock
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Sr. No.
                                                    </th>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Comment
                                                    </th>
                                                    <th>
                                                        Name of Owner
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Mobile Number
                                                    </th>
                                                    <th>
                                                        Country
                                                    </th>
                                                    <th>
                                                        No. of Report
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key,item) in  vm.ReportedCommentList | orderBy:vm.myOrderBy ">
                                                    <td scope="row">
                                                       {{key+((currentPage1 - 1) * 10)+1}}
                                                    </td>
                                                    <td>
                                                        {{item.Title}}
                                                    </td>
                                                    <td>
                                                        {{item.Comment}}
                                                    </td>
                                                    <td>
                                                        {{item.Username}}
                                                    </td>
                                                    <td>
                                                        {{item.Email}}
                                                    </td>
                                                    <td>
                                                        {{item.PhoneNumber}}
                                                    </td>
                                                    <td>
                                                        {{item.Country}}
                                                    </td>
                                                    <td>
                                                        {{item.NoOfReport}}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-success btn-sm" ng-click="vm.GetReportedPostId(item)">View</a>
                                                        <a class="btn btn-outline-danger btn-sm" ng-click="vm.DeleteComment(item,1)">Delete Comment</a>
                                                        <a class="btn btn-secondary btn-sm" ng-click="vm.BlockReportedPost(item)">{{item.Block}} Post</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="paging text-right">
                                        <a ng-show="currentPage1>1" ng-click="prevPage1()" class="btn btn-info">« Prev</a>
                                        <a ng-click="nextPage1()" ng-show="(vm.ReportedCommentList.length >= 10 || totalCount > currentPage1 * pageSize)" class="btn btn-info">Next »</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" ng-class="{'active':Inappr==true}" id="inappropriate_message" role="tabpanel" ng-show="Inappr">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input m-input--pill" placeholder="Search" ng-model="vm.SearchInapprComment" ng-change="vm.searchInapprCommentList(vm.SearchInapprComment,1)">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="m-portlet__nav-item">
                                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                                    <a class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link filter">
                                                        <i class="fa fa-filter"></i>
                                                    </a>
                                                    <div class="m-dropdown__wrapper">
                                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                        <div class="m-dropdown__inner">
                                                            <div class="m-dropdown__body">
                                                                <div class="m-dropdown__content">
                                                                    <ul class="m-nav">
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link" ng-click="vm.orderByMe('NoOfReport')">
                                                                                <i class="m-nav__link-icon fa fa-line-chart"></i>
                                                                                <span class="m-nav__link-text">
                                                                                    Number of Reports
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link" ng-click="vm.orderByMe('Block')">
                                                                                <i class="m-nav__link-icon fa fa-ban"></i>
                                                                                <span class="m-nav__link-text">
                                                                                    Block/Unblock
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                       
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Sr. No.
                                                    </th>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <th>
                                                        Comment
                                                    </th>
                                                    <th>
                                                        Name of Owner
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Mobile Number
                                                    </th>
                                                    <th>
                                                        Country
                                                    </th>
                                                    <th>
                                                        No. of Report
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key,item) in  vm.InapprCommentList | orderBy:vm.myOrderBy ">
                                                    <td scope="row">
                                                       {{key+((currentPage - 1) * 10)+1}}
                                                    </td>
                                                    <td>
                                                        {{item.Title}}
                                                    </td>
                                                    <td>
                                                        <span class="comment-msg dont-break">{{item.Comment}}</span>
                                                    </td>
                                                    <td>
                                                        {{item.Username}}
                                                    </td>
                                                    <td>
                                                        {{item.Email}}
                                                    </td>
                                                    <td>
                                                        {{item.PhoneNumber}}
                                                    </td>
                                                    <td>
                                                        {{item.Country}}
                                                    </td>
                                                    <td>
                                                        {{item.NoOfReport}}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-success btn-sm" ng-click="vm.GetReportedPostId(item)">View</a>
                                                        <a class="btn btn-outline-danger btn-sm" ng-click="vm.DeleteComment(item,2)">Delete Comment</a>
                                                        <a class="btn btn-secondary btn-sm" ng-click="vm.BlockReportedPost(item)">{{item.Block}} Post</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="paging text-right">
                                        <a ng-show="currentPage>1" ng-click="prevPage()" class="btn btn-info">« Prev</a>
                                        <a ng-click="nextPage()" ng-show="(vm.InapprCommentList.length >= 10 && totalCount > currentPage * pageSize)" class="btn btn-info">Next »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

    </div>
    <!--End::Section-->
</div>
         