
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<div class="mid-container">
    <div class="container">
        <div class="profile-head">
            <div class="profile-thumb">
                <img src="~/images/group-5.png" height="320" width="320">
            </div>
            <div class="profile-info">
                <h3>
                    jona_jo
                    <span class="profile-more">
                        <a href="#" class="more">
                            <i class="icon-user_profile_more"></i>
                        </a>
                        <ul class="more-options">
                            <li><a href="#">Unfollow</a></li>
                            <li><a href="#">Block</a></li>
                        </ul>
                    </span>
                </h3>
                <h4><a href="mailto:jonathan@gmail.com">jonathan@gmail.com</a></h4>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>

                <div class="profile-action">
                    <a href="#" class="btn-white">Follow</a>
                    <a href="#" class="btn-round"><i class="icon-settings"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-follow-info">
            <ol>
                <li>70<span>Videos</span></li>
                <li>1.6K<span>Followers</span></li>
                <li>187<span>Following</span></li>
            </ol>
        </div>
        <div class="clearfix"></div>
        <aside class="left-sidebar">
            <div class="user-profile-menu">
                <ul>
                    <li class="active">
                        <a href="#">
                            <i class="icon-grid_view_inactive"></i>
                            Grid View
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-list_view"></i>
                            List View
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-list_view"></i>
                            Favourite
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-tagged_friends"></i>
                            Tagged
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-list_view"></i>
                            Bookmarked
                        </a>
                    </li>
                </ul>
            </div>

            <div class="total-collection-new">
                <i class="icon-total_money"></i>
                <p>Total Collection</p>
                <span class="amount">$585.55</span>
            </div>
        </aside>

        <aside class="right-sidebar">
            <div class="advertise-box">
                <img src="~/images/group-5.png" height="240" width="240" alt="">
            </div>
            <div class="advertise-box">
                <img src="~/images/group-5.png" height="240" width="240" alt="">
            </div>
            <div class="advertise-box">
                <img src="~/images/group-5.png" height="240" width="240" alt="">
            </div>
        </aside>

        <div class="content-area">
            <div class="posts-wrapper">
                <div class="post">
                    <div class="post-user-wrap">
                        <div class="post-user">
                            <img src="~/images/group-5.png" height="80" width="80" alt="">
                            <h4>Diana Williams</h4>
                            <p>186 views</p>
                        </div>
                        <div class="post-options">
                            <ol>
                                <li><a href="#" class="follow">Follow</a></li>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options">
                                        <li><a href="#">Share on Facebook</a></li>
                                        <li><a href="#">Share on Instagram</a></li>
                                        <li><a href="#">Share on Whatsapp</a></li>
                                        <li><a href="#">Share on Message</a></li>
                                        <li><a href="#">Share on Email</a></li>
                                        <li><a href="#">Turn on Push Notifications</a></li>
                                        <li><a href="#" data-attribute="report">Report</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="post-video">
                        <iframe width="630" height="334" src="https://www.youtube.com/embed/VOkCmvR44dw?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="post-actions">
                        <ol>
                            <li class="active"><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-comment"></i></a></li>
                            <li><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-bookmark"></i></a></li>
                        </ol>
                    </div>
                    <p class="liked-by">Liked by <a href="#">mipalkarofficial</a>, <a href="#">psbhumi</a>, <a href="#">shanoo</a> and 79 others.</p>
                    <p class="view-all-comments"><a href="#">View all 113 comments</a></p>
                    <ol class="comments">
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> learnt from the best ...</li>
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> just incase you didn’t get it- I meant you ;)</li>
                    </ol>
                    <p class="post-time">10 hours ago</p>
                </div>
                <div class="post">
                    <div class="post-user-wrap">
                        <div class="post-user">
                            <img src="~/images/group-5.png" height="80" width="80" alt="">
                            <p class="hash-tags"><a href="#">#beautifulhair</a></p>
                            <h4>Diana Williams</h4>
                            <p>186 views</p>
                        </div>
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options">
                                        <li><a href="#">Share on Facebook</a></li>
                                        <li><a href="#">Share on Instagram</a></li>
                                        <li><a href="#">Share on Whatsapp</a></li>
                                        <li><a href="#">Share on Message</a></li>
                                        <li><a href="#">Share on Email</a></li>
                                        <li><a href="#">Turn on Push Notifications</a></li>
                                        <li><a href="#">Report</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="post-video">
                        <iframe width="630" height="334" src="https://www.youtube.com/embed/VOkCmvR44dw?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="post-actions">
                        <ol>
                            <li class="active"><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-comment"></i></a></li>
                            <li><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-bookmark"></i></a></li>
                        </ol>
                    </div>
                    <p class="liked-by">Liked by <a href="#">mipalkarofficial</a>, <a href="#">psbhumi</a>, <a href="#">shanoo</a> and 79 others.</p>
                    <p class="view-all-comments"><a href="#">View all 113 comments</a></p>
                    <ol class="comments">
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> learnt from the best ...</li>
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> just incase you didn’t get it- I meant you ;)</li>
                    </ol>
                    <p class="post-time">10 hours ago</p>
                </div>
                <div class="post">
                    <div class="post-user-wrap">
                        <div class="post-user">
                            <img src="~/images/group-5.png" height="80" width="80" alt="">
                            <p class="hash-tags"><a href="#">#beautifulhair</a></p>
                            <h4>Diana Williams</h4>
                            <p>186 views</p>
                        </div>
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options">
                                        <li><a href="#">Share on Facebook</a></li>
                                        <li><a href="#">Share on Instagram</a></li>
                                        <li><a href="#">Share on Whatsapp</a></li>
                                        <li><a href="#">Share on Message</a></li>
                                        <li><a href="#">Share on Email</a></li>
                                        <li><a href="#">Turn on Push Notifications</a></li>
                                        <li><a href="#">Report</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="post-video">
                        <iframe width="630" height="334" src="https://www.youtube.com/embed/VOkCmvR44dw?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="post-actions">
                        <ol>
                            <li class="active"><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-comment"></i></a></li>
                            <li><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-bookmark"></i></a></li>
                        </ol>
                    </div>
                    <p class="liked-by">Liked by <a href="#">mipalkarofficial</a>, <a href="#">psbhumi</a>, <a href="#">shanoo</a> and 79 others.</p>
                    <p class="view-all-comments"><a href="#">View all 113 comments</a></p>
                    <ol class="comments">
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> learnt from the best ...</li>
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> just incase you didn’t get it- I meant you ;)</li>
                    </ol>
                    <p class="post-time">10 hours ago</p>
                </div>
                <div class="post">
                    <div class="post-user-wrap">
                        <div class="post-user">
                            <img src="~/images/group-5.png" height="80" width="80" alt="">
                            <p class="hash-tags"><a href="#">#beautifulhair</a></p>
                            <h4>Diana Williams</h4>
                            <p>186 views</p>
                        </div>
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options">
                                        <li><a href="#">Share on Facebook</a></li>
                                        <li><a href="#">Share on Instagram</a></li>
                                        <li><a href="#">Share on Whatsapp</a></li>
                                        <li><a href="#">Share on Message</a></li>
                                        <li><a href="#">Share on Email</a></li>
                                        <li><a href="#">Turn on Push Notifications</a></li>
                                        <li><a href="#">Report</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="post-video">
                        <iframe width="630" height="334" src="https://www.youtube.com/embed/VOkCmvR44dw?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="post-actions">
                        <ol>
                            <li class="active"><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-comment"></i></a></li>
                            <li><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-bookmark"></i></a></li>
                        </ol>
                    </div>
                    <p class="liked-by">Liked by <a href="#">mipalkarofficial</a>, <a href="#">psbhumi</a>, <a href="#">shanoo</a> and 79 others.</p>
                    <p class="view-all-comments"><a href="#">View all 113 comments</a></p>
                    <ol class="comments">
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> learnt from the best ...</li>
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> just incase you didn’t get it- I meant you ;)</li>
                    </ol>
                    <p class="post-time">10 hours ago</p>
                </div>
                <div class="post">
                    <div class="post-user-wrap">
                        <div class="post-user">
                            <img src="~/images/group-5.png" height="80" width="80" alt="">
                            <p class="hash-tags"><a href="#">#beautifulhair</a></p>
                            <h4>Diana Williams</h4>
                            <p>186 views</p>
                        </div>
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options">
                                        <li><a href="#">Share on Facebook</a></li>
                                        <li><a href="#">Share on Instagram</a></li>
                                        <li><a href="#">Share on Whatsapp</a></li>
                                        <li><a href="#">Share on Message</a></li>
                                        <li><a href="#">Share on Email</a></li>
                                        <li><a href="#">Turn on Push Notifications</a></li>
                                        <li><a href="#">Report</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="post-video">
                        <iframe width="630" height="334" src="https://www.youtube.com/embed/VOkCmvR44dw?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="post-actions">
                        <ol>
                            <li class="active"><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-comment"></i></a></li>
                            <li><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-bookmark"></i></a></li>
                        </ol>
                    </div>
                    <p class="liked-by">Liked by <a href="#">mipalkarofficial</a>, <a href="#">psbhumi</a>, <a href="#">shanoo</a> and 79 others.</p>
                    <p class="view-all-comments"><a href="#">View all 113 comments</a></p>
                    <ol class="comments">
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> learnt from the best ...</li>
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> just incase you didn’t get it- I meant you ;)</li>
                    </ol>
                    <p class="post-time">10 hours ago</p>
                </div>
                <div class="post">
                    <div class="post-user-wrap">
                        <div class="post-user">
                            <img src="~/images/group-5.png" height="80" width="80" alt="">
                            <p class="hash-tags"><a href="#">#beautifulhair</a></p>
                            <h4>Diana Williams</h4>
                            <p>186 views</p>
                        </div>
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options">
                                        <li><a href="#">Share on Facebook</a></li>
                                        <li><a href="#">Share on Instagram</a></li>
                                        <li><a href="#">Share on Whatsapp</a></li>
                                        <li><a href="#">Share on Message</a></li>
                                        <li><a href="#">Share on Email</a></li>
                                        <li><a href="#">Turn on Push Notifications</a></li>
                                        <li><a href="#">Report</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="post-video">
                        <iframe width="630" height="334" src="https://www.youtube.com/embed/VOkCmvR44dw?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="post-actions">
                        <ol>
                            <li class="active"><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-comment"></i></a></li>
                            <li><a href="#"><i class="icon-like_icon"></i></a></li>
                            <li><a href="#"><i class="icon-bookmark"></i></a></li>
                        </ol>
                    </div>
                    <p class="liked-by">Liked by <a href="#">mipalkarofficial</a>, <a href="#">psbhumi</a>, <a href="#">shanoo</a> and 79 others.</p>
                    <p class="view-all-comments"><a href="#">View all 113 comments</a></p>
                    <ol class="comments">
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> learnt from the best ...</li>
                        <li><span>psbhumi</span> <a href="#">mipalaroffical</a> just incase you didn’t get it- I meant you ;)</li>
                    </ol>
                    <p class="post-time">10 hours ago</p>
                </div>
            </div>


        </div>
    </div>
</div>
