
<div class="popup small" data-pop="report">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Report</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="report-type">
            <form>
                <p>
                    <input type="radio" name="report-type" id="type1">
                    <label for="type1">Spam</label>
                </p>
                <p>
                    <input type="radio" name="report-type" id="type2">
                    <label for="type2">Inappropriate</label>
                </p>
                <div class="submit-button">
                    <button type="submit">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup small" data-pop="push-notification">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Enter Email</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="push-notification">
            <form>
                <p>
                    <input type="text" name="" placeholder="Enter Email">
                </p>
                <div class="submit-button">
                    <button type="submit">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup small" data-pop="feed-detail-tip">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Enter Tip Amount</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="push-notification">
            <h3>If you like this video you can show your appreciation by giving some tip amount.</h3>
            <form>
                <p>
                    <input type="text" name="" placeholder="" autofocus="autofocus">
                </p>
                <div class="submit-button">
                    <button type="submit">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup small" data-pop="attach_more_ads">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Add More Products</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="push-notification">
            <h3 align="center">You can select advertisements of other products by removing some previously selected ones.</h3>
            <form>
                <div class="submit-button">
                    <button type="submit">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup small" data-pop="report_problem_admins_reply">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Enter Email</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="push-notification">
            <h3>Enter the email address on which you want us to reply.</h3>
            <form>
                <p>
                    <input type="text" name="" placeholder="" autofocus="autofocus">
                </p>
                <div class="submit-button">
                    <button type="submit">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup" data-pop="pending-info">
    <div class="popup-head">
        <div class="popup-head-left">
            <a href="#" class="back"><i class="icon-back"></i></a>
            <h4>Pending Information</h4>
        </div>
        <div class="popup-head-right">
            <a href="#" class="action-btn">Save</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="pending-info-pop">
            <form>
                <div class="text-tab">
                    <input placeholder="Real Name" type="text">
                    <span class="inp-error">Username unavailable</span>
                </div>
                <div class="text-tab">
                    <input placeholder="Display Name" type="text">
                </div>
                <div class="text-tab drop-tab">
                    <span class="con-icon"><i class="icon-country_code"></i></span>
                    <input class="code-con" placeholder="Country Code" type="text">
                    <ul class="months-list selct-con drop-list">
                        <li class="contry-search">
                            <p class="add-color-main">Select Country Code</p>
                            <div class="search-sec-1">
                                <span class="search-icon-new"><i class="icon-search_dropdown"></i></span>
                                <span class="cancel-icon"><i class="icon-search_cancel"></i></span>
                                <input placeholder="Search" type="text">
                            </div>
                        </li>
                        <li class="clearfix" data-value="+93">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Afghanistan</p>
                                <p class="flag-no">+93</p>
                            </div>

                        </li>
                        <li class="clearfix" data-value="+335">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Albania</p>
                                <p class="flag-no">+335</p>
                            </div>

                        </li>
                        <li class="clearfix" data-value="+213">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Algeria</p>
                                <p class="flag-no">+213</p>
                            </div>

                        </li>
                        <li class="clearfix" data-value="+54">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Argentina</p>
                                <p class="flag-no">+54</p>
                            </div>

                        </li>
                        <li class="clearfix" data-value="+61">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Australia</p>
                                <p class="flag-no">+61</p>
                            </div>

                        </li>
                        <li class="clearfix" data-value="+43">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Austria</p>
                                <p class="flag-no">+43</p>
                            </div>

                        </li>
                        <li class="clearfix" data-value="+1-242">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Bahamas</p>
                                <p class="flag-no">+1-242</p>
                            </div>

                        </li>
                        <li class="clearfix" data-value="+973">
                            <div class="flag-sec-img">
                                <img src="~/images/flag-1.png">
                            </div>
                            <div class="flag-sec-con clearfix">
                                <p class="flag-txt">Bahrain</p>
                                <p class="flag-no">+973</p>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="text-tab">
                    <input placeholder="Phone Number" type="text">
                </div>
                <div class="text-tab">
                    <input placeholder="PayPal ID" type="text">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup" data-pop="new-message">
    <div class="popup-head">
        <div class="popup-head-left">
            <a href="#" class="back"><i class="icon-back"></i></a>
            <h4>New Message</h4>
        </div>
        <div class="popup-head-right">
            <a href="#" class="action-btn">Next</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body no-padding">
        <div class="popup-profile-searh">
            <i class="icon-search_dropdown"></i>
            <input type="search" name="search" placeholder="Search" autofocus="autofocus">
        </div>
        <div class="suggestions-box">
            <ol class="suggestions-list">
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>trisha_02</h4>
                        <p>Trisha Geller</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>michael</h4>
                        <p>michael</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.joseph</h4>
                        <p>Joseph John</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.tisha</h4>
                        <p>Tisha</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>ricky_678</h4>
                        <p>Ricky</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>chandler201</h4>
                        <p>Chabdler</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>mia</h4>
                        <p>Mia D’souza</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>vicky</h4>
                        <p>Vicky</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="popup" data-pop="message-request">
    <div class="popup-head">
        <div class="popup-head-left tab-menu-1">
            <ul class="option">
                <li class="active">Friends</li>
                <li>Requests</li>
            </ul>
        </div>
        <div class="popup-head-right">
            <a href="#" class="popup-head-btn">New Message</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body no-padding tab-sec-1">
        <div class="message-friends content-tab active">
            <div class="popup-profile-searh">
                <i class="icon-search_dropdown"></i>
                <input type="search" name="search" placeholder="Search">
            </div>
            <div class="suggestions-box">
                <ol class="suggestions-list">
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>trisha_02</h4>
                            <p>Thanks sweety :)</p>
                        </div>
                        <div class="profile-action">
                            <span class="message-time time">2 secs ago</span>
                            <div class="post-options">
                                <ol>
                                    <li>
                                        <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                        <ul class="more-options">
                                            <li><a href="#">Remove From Friend List</a></li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>michael</h4>
                            <p>Awesome</p>
                        </div>
                        <div class="profile-action">
                            <span class="message-time time">20 mins ago</span>
                            <div class="post-options">
                                <ol>
                                    <li>
                                        <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                        <ul class="more-options">
                                            <li><a href="#">Remove From Friend List</a></li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.joseph</h4>
                            <p>you are the cutest...</p>
                        </div>
                        <div class="profile-action">
                            <span class="message-time time">1 hr ago</span>
                            <div class="post-options">
                                <ol>
                                    <li>
                                        <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                        <ul class="more-options">
                                            <li><a href="#">Remove From Friend List</a></li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.tisha</h4>
                            <p>can you be anymore cuter</p>
                        </div>
                        <div class="profile-action">
                            <span class="message-time time">1 day ago</span>
                            <div class="post-options">
                                <ol>
                                    <li>
                                        <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                        <ul class="more-options">
                                            <li><a href="#">Remove From Friend List</a></li>
                                        </ul>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="message-request content-tab">
            <div class="popup-profile-searh">
                <i class="icon-search_dropdown"></i>
                <input type="search" name="search" placeholder="Search">
            </div>
            <div class="popup-notification">
                <p>These messages are from the people you don’t follow. They will only know you have seen their message request, if you select allow.</p>
            </div>
            <div class="suggestions-box">
                <ol class="suggestions-list">
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>trisha_02</h4>
                            <p>Trisha Geller</p>
                        </div>
                        <div class="profile-action">
                            <span class="request-time time">2 secs ago</span>
                            <a href="#" class="reject"><i class="icon-search_cancel"></i></a>
                            <a href="#" class="accept"><i class="icon-tick"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>michael</h4>
                            <p>michael</p>
                        </div>
                        <div class="profile-action">
                            <span class="request-time time">6 secs ago</span>
                            <a href="#" class="reject"><i class="icon-search_cancel"></i></a>
                            <a href="#" class="accept"><i class="icon-tick"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.joseph</h4>
                            <p>Joseph John</p>
                        </div>
                        <div class="profile-action">
                            <span class="request-time time">20 mins ago</span>
                            <a href="#" class="reject"><i class="icon-search_cancel"></i></a>
                            <a href="#" class="accept"><i class="icon-tick"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.tisha</h4>
                            <p>Tisha</p>
                        </div>
                        <div class="profile-action">
                            <span class="request-time time">1 hr ago </span>
                            <a href="#" class="reject"><i class="icon-search_cancel"></i></a>
                            <a href="#" class="accept"><i class="icon-tick"></i></a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="popup-footer message-request-action">
        <ul class="allow-decline-btn">
            <li class="decline"><a href="#">Decline All</a></li>
            <li class="allow"><a href="#">Allow All</a></li>
        </ul>
    </div>
</div>

<div class="popup" data-pop="comment">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Comments</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body no-padding">
        <div class="suggestions-box">
            <ol class="suggestions-list">
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>trisha_02 <span class="comment">Thanks sweety :)</span></h4>
                        <span class="comment-time time">2 secs ago</span>
                    </div>
                    <div class="profile-action">
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options delete-comment">
                                        <li><a href="#">Delete Comment</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>michael <span class="comment">Awesome</span></h4>
                        <span class="comment-time time">20 mins ago</span>
                    </div>
                    <div class="profile-action">
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options delete-comment">
                                        <li><a href="#">Delete Comment</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.joseph <span class="comment">you are the cutest...</span></h4>
                        <span class="comment-time time">1 hr ago</span>
                    </div>
                    <div class="profile-action">
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options delete-comment">
                                        <li><a href="#">Delete Comment</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.tisha <span class="comment">can you be anymore cuter</span></h4>
                        <span class="comment-time time">1 day ago</span>
                    </div>
                    <div class="profile-action">
                        <div class="post-options">
                            <ol>
                                <li>
                                    <a href="#" class="more"><i class="icon-user_profile_more"></i></a>
                                    <ul class="more-options delete-comment">
                                        <li><a href="#">Delete Comment</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="popup-footer">
        <div class="comment-form">
            <input type="text" placeholder="Add a comment..." autofocus="autofocus">
            <input type="submit" value="Send">
        </div>
    </div>
</div>

<div class="popup" data-pop="follow-pop">
    <div class="popup-head">
        <div class="popup-head-left tab-menu-1">
            <ul class="option">
                <li class="active">Following</li>
                <li>You</li>
            </ul>
        </div>
        <div class="popup-head-right">
            <a href="#" class="popup-head-btn">SETTINGS</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body no-padding tab-sec-1">
        <div class="following-notification content-tab active">
            <div class="suggestions-box">
                <ol class="suggestions-list">
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>trisha_02</h4>
                            <p>Trisha Geller</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>michael</h4>
                            <p>Michael</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.joseph</h4>
                            <p>you are the cutest...</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.tisha</h4>
                            <p>can you be anymore cuter</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="your-notification content-tab">
            <div class="popup-activity">
                <p>ACTIVITY</p>
            </div>
            <div class="suggestions-box">
                <ol class="suggestions-list">
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>trisha_02 <span>mentioned you in a comment: <a href="#">jona_jo</a></span></h4>
                            <span class="time">3 hrs ago</span>
                        </div>
                        <div class="profile-action">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>michael <span>tagged you in a post.</span></h4>
                            <span class="time">2 days ago</span>
                        </div>
                        <div class="profile-action">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>joseph <span>liked four posts.</span></h4>
                            <span class="time">5 days ago</span>
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                        </div>
                        <div class="profile-action">

                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>ross_001 <span>started following you.</span></h4>
                            <span class="time">1 week ago</span>
                        </div>
                        <div class="profile-action">
                            <a href="#" class="f-btn">Follow</a>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>ricky_678 <span>started following you.</span></h4>
                            <span class="time">1 month ago</span>
                        </div>
                        <div class="profile-action">
                            <a href="#" class="f-btn following">following</a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="popup" data-pop="share-post">
    <div class="popup-head">
        <div class="popup-head-left">
            <a href="#" class="back"><i class="icon-back"></i></a>
            <h4>Share Post</h4>
        </div>
        <div class="popup-head-right">
            <a href="#" class="action-btn">Next</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body no-padding">
        <div class="popup-profile-searh">
            <i class="icon-search_dropdown"></i>
            <input type="search" name="search" placeholder="Search" autofocus="autofocus">
        </div>
        <div class="suggestions-box">
            <ol class="suggestions-list">
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>trisha_02</h4>
                        <p>Trisha Geller</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>michael</h4>
                        <p>michael</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.joseph</h4>
                        <p>Joseph John</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.tisha</h4>
                        <p>Tisha</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>ricky_678</h4>
                        <p>Ricky</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>chandler201</h4>
                        <p>Chabdler</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>mia</h4>
                        <p>Mia D’souza</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>vicky</h4>
                        <p>Vicky</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="popup" data-pop="tag-friends">
    <div class="popup-head">
        <div class="popup-head-left">
            <a href="#" class="back"><i class="icon-back"></i></a>
            <h4>Tag Friends</h4>
        </div>
        <div class="popup-head-right">
            <a href="#" class="action-btn">Done</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body no-padding">
        <div class="popup-profile-searh">
            <i class="icon-search_dropdown"></i>
            <input type="search" name="search" placeholder="Search" autofocus="autofocus">
        </div>
        <div class="suggestions-box">
            <ol class="suggestions-list">
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>trisha_02</h4>
                        <p>Trisha Geller</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>michael</h4>
                        <p>michael</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.joseph</h4>
                        <p>Joseph John</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>.tisha</h4>
                        <p>Tisha</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>ricky_678</h4>
                        <p>Ricky</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>chandler201</h4>
                        <p>Chabdler</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>mia</h4>
                        <p>Mia D’souza</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="profile-info">
                        <img src="~/images/group-5.png" height="70" width="70" alt="">
                        <h4>vicky</h4>
                        <p>Vicky</p>
                    </div>
                    <div class="profile-action">
                        <div class="radio-btn">
                            <label>
                                <input name="" type="checkbox">
                                <i class="icon-active"></i>
                            </label>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="popup" data-pop="chat">
    <div class="popup-head chat-head">
        <div class="popup-head-left">
            <a href="#" class="back"><i class="icon-back"></i></a>
        </div>
        <div class="popup-head-center">
            <div class="chat-user">
                <img src="~/images/group-5.png" height="56" width="56" />
                <h4>trish_02</h4>
            </div>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="chat">
            <div class="chat-left">
                <p>Hi Jons! How are you?</p>
                <span class="time chat-time">5 mins ago</span>
            </div>
            <div class="chat-right">
                <p>Doing good, how do you feel about grabbing a coffee sometime?</p>
                <span class="time chat-time">5 mins ago</span>
            </div>
            <div class="chat-left">
                <p>Sure!!</p>
                <span class="time chat-time">3 mins ago</span>
            </div>
            <div class="chat-right media">
                <p><img src="~/images/group-5.png" height="212" width="340"></p>
                <span class="time chat-time">2 mins ago</span>
            </div>
            <div class="not-available">
                <p class="danger">Post Unavailable</p>
                <p>This post is unavailable because it was deleted.</p>
            </div>
        </div>
    </div>
    <div class="popup-notification float">
        <p>These messages are from the people you don’t follow. They will only know you have seen their message request, if you select allow.</p>
    </div>
    <div class="chat-request">
        <ul class="allow-decline-btn">
            <li class="decline">
                <a href="#">Decline</a>
                <div class="decline-warning">
                    <div class="decline-warning-content">
                        <p>ross_001 will not be able to message you anymore and this chat will no longer exist.</p>
                    </div>
                    <div class="decline-warning-btn">
                        <a href="#">OK</a>
                    </div>
                </div>
            </li>
            <li class="allow"><a href="#">Allow</a></li>
        </ul>
    </div>
    <div class="popup-footer no-maring">
        <ul class="chat-footer">
            <li>
                <label for="file">
                    <i class="icon-attachemnt"></i>
                </label>
                <input type="file" name="" id="file" hidden="hidden">
            </li>
            <li>
                <i class="icon-like_icon"></i>
            </li>
            <li class="message-input">
                <div class="comment-form">
                    <input placeholder="Type message..." autofocus="autofocus" type="text">
                    <input value="Send" type="submit">
                </div>
            </li>
        </ul>
    </div>
</div>



<div class="popup" data-pop="following-pop">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Following</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="following-options tab-menu-1">
        <ul class="option">
            <li class="active">People</li>
            <li>Hashtags</li>
        </ul>
    </div>
    <div class="popup-profile-searh">
        <i class="icon-search_dropdown"></i>
        <input name="search" placeholder="Search" autofocus="autofocus" type="search">
    </div>
    <div class="popup-body no-padding tab-sec-1">
        <div class="following-people content-tab active">
            <div class="suggestions-box">
                <ol class="suggestions-list">
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>trisha_02</h4>
                            <p>Trisha Geller</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>michael</h4>
                            <p>Michael</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.joseph</h4>
                            <p>you are the cutest...</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>.tisha</h4>
                            <p>can you be anymore cuter</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow trisha_02</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="following-hashtags content-tab">
            <div class="suggestions-box">
                <ol class="suggestions-list">
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>#beautifulhair</h4>
                            <p>200 posts</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow #beautifulhair</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>#makeupblogger</h4>
                            <p>2,39,456 posts</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn following">Following</a>
                                    <ul class="more-options">
                                        <li><a href="#">Unfollow #makeupblogger</a></li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ol>
                <h3 class="popular-title">Popular Hashtags</h3>
                <ol class="suggestions-list">
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>#petlover</h4>
                            <p>42,98,005 posts</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn">Follow</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>#magical</h4>
                            <p>42,98,005 posts</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn">Follow</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="profile-info">
                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                            <h4>#fitnessfreak</h4>
                            <p>17,37,774 posts</p>
                        </div>
                        <div class="profile-action">
                            <ol>
                                <li>
                                    <a href="#" class="f-btn">Follow</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="popup small" data-pop="verified">
    <div class="popup-body">
        <button class="close absolute"><i class="icon-cross"></i></button>
        <div class="verified-content">
            <img src="~/images/icon_happy.png" alt="" />
            <h4>Congratulations</h4>
            <p>Your Website is Verified</p>
        </div>
    </div>
</div>

<div class="popup" data-pop="send-message">
    <div class="popup-head">
        <div class="popup-head-left">
            <a href="#" class="back"><i class="icon-back"></i></a>
            <h4>Send Message</h4>
        </div>
        <div class="popup-head-right">
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="send-message-box">
            <textarea placeholder="Type message..."></textarea>
            <div class="send-message-action">
                <ul>
                    <li><a href="#"><i class="icon-attachemnt"></i></a></li>
                    <li><a href="#"><i class="icon-like_icon"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="send-message-btn">
            <input type="button" name="" value="Send" class="send-btn">
        </div>
    </div>
</div>

<div class="popup" data-pop="verification-change-number">
    <div class="popup-head">
        <div class="popup-head-left">
            <h4>Verification</h4>
        </div>
        <div class="popup-head-right">
            <a href="#" class="action-btn">Resend Code</a>
            <a href="#" class="action-btn">Verify</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="number-verification">
            <h4>Verify Your Number</h4>
            <h6>+1 855 567 789 <a href="#" class="change-number-pop">CHANGE NUMBER</a></h6>
            <p>VidWorld will send you a One Time Password (OTP) to verify your phone  number.</p>
            <div class="otp-number">
                <input type="text" value="5005" maxlength="4" />
            </div>
        </div>
    </div>
    <div class="change-number">
        <button class="close-btn"><i class="icon-cross"></i></button>
        <input type="tel" name="" placeholder="+1  855 567 78" />
        <div class="change-number-btn">
            <a href="#" class="change-btn">Change Number</a>
        </div>
    </div>
</div>



<div class="popup" data-pop="no-message">
    <div class="popup-head">
        <div class="popup-head-left tab-menu-1">
            <ul class="option">
                <li class="active">Friends</li>
                <li>Requests</li>
            </ul>
        </div>
        <div class="popup-head-right">
            <a href="#" class="popup-head-btn">New Message</a>
            <button class="close"><i class="icon-cross"></i></button>
        </div>
    </div>
    <div class="popup-body">
        <div class="no-message">
            <img src="~/images/mesaage.png" alt="">
            <h4>Welcome To Vid World</h4>
            <p>Start chatting with the people around the world.</p>
        </div>
    </div>
</div>

