
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>VIDWORLD LOGO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="sign-up-bg"><img src="~/images/sign_up2.png" alt=""></div>
        <div class="container">
            <header>
                <div class="logo">VIDWORLD LOGO</div>
                <nav>
                    <ul>
                        <li>
                            <div class="search-sec">
                                <i class="icon-header_search"></i>
                                <input type="text" placeholder="Search VidWorld">
                            </div>
                        </li>
                    </ul>

                </nav>
            </header>
            <section class="signin-con">
                <div class="signin-sec-main">
                    <div class="signin-sec-cont">
                        <!--<p><img src="images/Layer%207.png"></p>-->
                        <h1>Welcome to VidWorld</h1>
                        <p>
                            This is Photoshop's version  of Lorem Ipsum. Proin
                            nibh vel velit auctor aliquet. Aenean sollicitudin,
                            bibendum auctor, nisi elit consequat ipsum,
                            nibh id elit. Duis sed odio sit amet nibh vul
                            amet mauris. Morbi accumsan ipsum velit.
                        </p>
                    </div>
                    <div class="signin-sec-form">
                        <div class="login-form-sec">
                            <form>
                                <div class="text-tab">
                                    <input type="text" placeholder="Username/Mobile Number/Email ID">
                                    <span class="inp-error">Username unavailable</span>
                                </div>
                                <div class="text-tab">
                                    <input type="password" placeholder="Password">
                                </div>
                                <div class="text-tab link-sec clearfix">
                                    <div class="check-icon clearfix">
                                        <label>
                                            <p class="p-check_label">
                                                <label>
                                                    <input type="checkbox">
                                                    <i class="icon-unfill_tick"></i>
                                                </label>
                                            </p>

                                            <p class="check-text clearfix">
                                                Remember me
                                            </p>
                                        </label>
                                    </div>

                                    <div class="forgot-pass"><a href="#">Forgot your Password</a></div>
                                </div>
                                <div class="sign-btn-sec">
                                    <button class="btn-main signin">sign in</button>
                                </div>
                            </form>
                        </div>
                        <div class="sinup-form-sec">
                            <h1>New to VidWorld? <span><a href="" class="add-color">Sign Up</a></span></h1>
                            <form>
                                <div class="text-tab">
                                    <input type="text" placeholder="Real Name">
                                    <span class="inp-error">xyz</span>
                                </div>
                                <div class="text-tab">
                                    <input type="text" placeholder="Dispaly Name">
                                </div>
                                <div class="text-tab drop-tab">
                                    <span class="con-icon"><i class="icon-country_code"></i></span>
                                    <input type="text" class="code-con" placeholder="Country Code">
                                    <ul class="months-list selct-con drop-list">
                                        <li class="contry-search">
                                            <p class="add-color-main">Select Country Code</p>
                                            <div class="search-sec-1">
                                                <span class="search-icon-new"><i class="icon-search_dropdown"></i></span>
                                                <span class="cancel-icon"><i class="icon-search_cancel"></i></span>
                                                <input type="text" placeholder="Search">
                                            </div>
                                        </li>
                                        <li class="clearfix" data-value="+93">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Afghanistan</p>
                                                <p class="flag-no">+93</p>
                                            </div>

                                        </li>
                                        <li class="clearfix" data-value="+335">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Albania</p>
                                                <p class="flag-no">+335</p>
                                            </div>

                                        </li>
                                        <li class="clearfix" data-value="+213">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Algeria</p>
                                                <p class="flag-no">+213</p>
                                            </div>

                                        </li>
                                        <li class="clearfix" data-value="+54">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Argentina</p>
                                                <p class="flag-no">+54</p>
                                            </div>

                                        </li>
                                        <li class="clearfix" data-value="+61">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Australia</p>
                                                <p class="flag-no">+61</p>
                                            </div>

                                        </li>
                                        <li class="clearfix" data-value="+43">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Austria</p>
                                                <p class="flag-no">+43</p>
                                            </div>

                                        </li>
                                        <li class="clearfix" data-value="+1-242">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Bahamas</p>
                                                <p class="flag-no">+1-242</p>
                                            </div>

                                        </li>
                                        <li class="clearfix" data-value="+973">
                                            <div class="flag-sec-img">
                                                <img src="~/images/flag-1.png">
                                            </div>
                                            <div class="flag-sec-con clearfix">
                                                <p class="flag-txt">Bahrain</p>
                                                <p class="flag-no">+973</p>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div class="text-tab">
                                    <input type="text" placeholder="Phone Number">
                                </div>
                                <div class="signup-btn-sec">
                                    <a class="btn-main signup" href="~/User/MyInterest">SIGN UP FOR VIDWORLD</a>
                                    @*<button class="btn-main signup" href="~/User/MyInterest">SIGN UP FOR VIDWORLD</button>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</body>
</html>
