
@{
    ViewBag.Title = "Forget_Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<script src="~/Scripts/Js_Controllers/Reviewer.Js"></script>*@
<script src="~/Scripts/Js_Controllers/ReviewerLogin.js"></script>
<div class="content" ng-controller="Reviewer_login">
    <div class="container">
        <div class="form-box">
            <form>
                <div class="input-row">
                    <input type="text" name="" placeholder="Email" ng-model="forgetPasswordModel.Email" required autofocus>
                </div>

                <div class="input-row">
                    <input type="submit" name="" value="Submit" ng-click="forgetPasswordApi()">
                </div>
            </form>
            <p>Go Back to login?<a href="~/Review/Review_Login"> Click Here </a></p>
        </div>
    </div>
</div>


