<div class="modal fade show" id="like_list" tabindex="-1" role="dialog" ng-controller="LikeController">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Likes
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="suggestions-box" id="likeList_div">
                    <ol class="suggestions-list">
                        <li ng-repeat="likeItem in vm.AllLikeList">
                            <div class="profile-info">
                                <div class="profile_thumb" ui-sref="otheruserprofile({Username: likeItem.Username})">
                                    <img src="{{likeItem.ProfileImageUrl==''?'/Assets/images/profile.jpg':likeItem.ProfileImageUrl}}" alt="">
                                </div>
                                <div class="profile-name" ui-sref="otheruserprofile({Username: likeItem.Username})">
                                    <h4>{{likeItem.Username}}</h4>
                                    <!--<p>{{likeItem.DisplayName}}</p>-->
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>