
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="mid-container">
    <section class="edit-profile-sec edit-profile-main">
        <div class="bg-blue"></div>
        <div class="container">
            <div class="sinup-form-sec profile-form">
                <form>
                    <label class="edit-profile-pic">
                        <img class="user-img" src="~/images/user-img.jpg" />
                        <input type="file" />
                        <div class="attach-pro-icon"><span class="icon-header_search_cancel"></span></div>
                    </label>
                    <div class="text-tab">
                        <input type="text" placeholder="Username">
                        <span class="inp-error">Give a Username</span>
                    </div>
                    <div class="text-tab">
                        <input type="text" placeholder="Real Name">
                    </div>
                    <div class="text-tab">
                        <input type="text" placeholder="Display Name">
                    </div>
                    <div class="text-tab">
                        <input type="email" placeholder="Email ID">
                    </div>
                    <div class="text-tab">
                        <input type="text" placeholder="Date of birth" readonly>
                        <div class="date-main-sec">
                            <div class="date">
                                <p class="selectoption incremt">
                                    <span class="up"><i class="icon-birth_up_arrow"></i></span>
                                    <span class="down"><i class="icon-dropdown_icon"></i></span>
                                    <input type="text" value="0">
                                </p>
                            </div>
                            <div class="month drop-tab">
                                <div class="selectoption">
                                    <span class="up"><i class="icon-birth_up_arrow"></i></span>
                                    <span class="down"><i class="icon-dropdown_icon"></i></span>
                                    <input type="text" value="Nov">
                                </div>
                                <ul class="months-list drop-list">
                                    <li class="add-color-main">Choose Month</li>
                                    <li data-value="Jan"> January</li>
                                    <li data-value="Feb">February</li>
                                    <li data-value="Feb">March</li>
                                    <li data-value="Apr">April</li>
                                    <li data-value="May">May</li>
                                    <li data-value="Jun">June</li>
                                    <li data-value="Jul">July</li>
                                    <li data-value="Aug">August</li>
                                    <li data-value="Sep">September</li>
                                    <li data-value="Oct">October</li>
                                    <li class="active" data-value="Nov">November</li>
                                    <li data-value="Dec">December</li>
                                </ul>
                            </div>
                            <div class="year">
                                <div class="selectoption incremt">
                                    <span class="up"><i class="icon-birth_up_arrow"></i></span>
                                    <span class="down"><i class="icon-dropdown_icon"></i></span>
                                    <input type="text" value="1993">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-tab drop-tab">
                        <span class="con-icon"><i class="icon-country_code"></i></span>
                        <input type="text" class="code-con" placeholder="Country Code">
                        <ul class="months-list selct-con drop-list" style="display: none;">
                            <li class="contry-search">
                                <div class="add-color-main">Select Country Code</div>
                                <div class="search-sec-1">
                                    <span class="search-icon-new"><i class="icon-search_dropdown"></i></span>
                                    <span class="cancel-icon"><i class="icon-search_cancel"></i></span>
                                    <input type="text" placeholder="Search">
                                </div>
                            </li>
                            <li class="clearfix" data-value="+93">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Afghanistan</p>
                                    <p class="flag-no">+93</p>
                                </div>

                            </li>
                            <li class="clearfix" data-value="+335">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Albania</p>
                                    <p class="flag-no">+335</p>
                                </div>

                            </li>
                            <li class="clearfix" data-value="+213">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Algeria</p>
                                    <p class="flag-no">+213</p>
                                </div>

                            </li>
                            <li class="clearfix" data-value="+54">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Argentina</p>
                                    <p class="flag-no">+54</p>
                                </div>

                            </li>
                            <li class="clearfix" data-value="+61">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Australia</p>
                                    <p class="flag-no">+61</p>
                                </div>

                            </li>
                            <li class="clearfix" data-value="+43">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Austria</p>
                                    <p class="flag-no">+43</p>
                                </div>

                            </li>
                            <li class="clearfix" data-value="+1-242">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Bahamas</p>
                                    <p class="flag-no">+1-242</p>
                                </div>

                            </li>
                            <li class="clearfix" data-value="+973">
                                <div class="flag-sec-img">
                                    <img src="~/images/flag-1.png">
                                </div>
                                <div class="flag-sec-con clearfix">
                                    <p class="flag-txt">Bahrain</p>
                                    <p class="flag-no">+973</p>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="text-tab">
                        <input type="text" placeholder="Phone Number">
                    </div>
                    <div class="text-tab">
                        <input type="text" placeholder="PayPal ID">
                    </div>
                    <div class="text-tab drop-tab">
                        <span class="con-icon">
                            <label>
                                <input type="file">
                                <i class="icon-get_link"></i>
                            </label>
                        </span>
                        <input type="text" class="code-con link-blue" placeholder="Get Link">
                    </div>
                    <div class="text-tab drop-tab">
                        <textarea rows="10" placeholder="Add bio..."></textarea>
                    </div>
                    <div class="text-right pt15">
                        <input type="submit" class="btn-main signup" value="save changes" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

