
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>VIDWORLD LOGO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>
<body>
    <div class="main-container">
        <!-- <div class="sign-up-bg"><img src="images/sign_up2.png" alt=""></div>-->
        <header>
            <div class="container">
                <div class="logo add-color">VIDWORLD LOGO</div>
                <!--<nav>
                    <ul>
                        <li><a href="">How it works</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="" class="btn white-btn">Sign in</a></li>
                        <li><a href="" class="btn">Sign up</a></li>
                    </ul>
                    <div class="search-sec">
                      <i class="icon-header_search"></i>
                      <input type="text" placeholder="Search VidWorld">
                    </div>
                </nav>-->
            </div>
        </header>

        <div class="mid-container">
            <section class="interest-sec ">
                <div class="container">
                    <div class="interest-content">
                        <h2> My Interests</h2>
                        <p>Choose from these categories what interests you the most</p>
                        <ul class="interest-selection">
                            <li>
                                <label>
                                    <p class="p-check_label">

                                        <label>
                                            <input type="checkbox">
                                            <span class="color-tag">Sports </span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Paintings</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">
                                            <span class="color-tag">Dancing</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Reading</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Computers</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Gardening</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Travelling</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Socializing</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Music</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <p class="p-check_label">
                                        <label>
                                            <input type="checkbox">

                                            <span class="color-tag">Animals</span>
                                        </label>
                                    </p>
                                </label>
                            </li>
                        </ul>
                        <div class="interest-btn">
                            <div class="sign-btn-sec">
                                <a class="btn-main int-btn" href="~/User/Home">Skip</a>
                                @*<button class="btn-main int-btn">Skip</button>*@
                            </div>
                            <div class="sign-btn-sec">
                                <a class="btn-main int-btn" href="~/User/Home">Next</a>
                                @*<button class="btn-main int-btn">Next</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="container">
                <div class="footer-sec">
                    <div class="copyrite-txt">
                        <p>&#64; 2017 VidWorld </p>
                    </div>
                    <ul class="helpful-link">
                        <li><a href="#">ABOUT US </a></li>
                        <li><a href="#">TERMS AND CONDITIONS  </a></li>
                        <li><a href="#">PRIVACY POLICY  </a></li>


                    </ul>

                </div>
            </div>
        </footer>

    </div>


</body>
</html>
