
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>vid.world</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="sign-up-bg"><img src="~/images/sign_up2.png" alt=""></div>
        <div class="container">
            <header>
                <div class="logo"><a href="~/User/Index" style="color:#fff;"><img src="~/images/header_logo.png"></a></div>

                <nav>
                    <ul>
                        <li>
                            <div class="search-sec">
                                <i class="icon-header_search"></i>
                                <input type="text" placeholder="Search VidWorld">
                            </div>
                        </li>
                    </ul>

                </nav>
            </header>
            <section class="signin-con">
                <div class="signin-sec-main">
                    <div class="signin-sec-cont">
                        <!--<p><img src="images/Layer%207.png"></p>-->
                        <h1>Welcome to VidWorld</h1>
                        <p>
                            This is Photoshop's version  of Lorem Ipsum. Proin
                            nibh vel velit auctor aliquet. Aenean sollicitudin,
                            bibendum auctor, nisi elit consequat ipsum,
                            nibh id elit. Duis sed odio sit amet nibh vul
                            amet mauris. Morbi accumsan ipsum velit.
                        </p>
                    </div>
                    <div class="signin-sec-form">
                        <div class="login-form-sec">
                            <form>
                                <div class="text-tab">
                                    <input type="text" placeholder="Username/Mobile Number/Email ID">
                                    <span class="inp-error">Username unavailable</span>
                                </div>
                                <div class="text-tab">
                                    <input type="password" placeholder="Password">
                                </div>
                                <div class="text-tab link-sec clearfix">
                                    <div class="check-icon clearfix">
                                        <label>
                                            <p class="p-check_label">
                                                <label>
                                                    <input type="checkbox">
                                                    <i class="icon-unfill_tick"></i>
                                                </label>
                                            </p>

                                            <p class="check-text clearfix">
                                                Remember me
                                            </p>
                                        </label>
                                    </div>

                                    <div class="forgot-pass"><a href="#" data-attribute="forgotpass">Forgot your Password</a></div>
                                </div>
                                <div class="sign-btn-sec">
                                    <button class="btn-main signin">sign in</button>
                                </div>
                            </form>
                        </div>
                        <div class="sinup-form-sec">
                            <h1>New to VidWorld? <span><a href="" class="add-color">Sign Up</a></span></h1>
                            <form>
                                <div class="text-tab">
                                    <input type="text" placeholder="Username/Mobile Number/Email ID">
                                    <span class="inp-error">Username unavailable</span>
                                    <div class="celib-content">
                                        <h2>Celebrity’s Username </h2>
                                        <p>This username seems to be a celebrity’s username. If you are the one, please  link your account with either of the following:</p>
                                        <p><a href="#" class="social-icon"><i class="icon-facebbok"></i></a> or <a href="#" class="social-icon"><i class="icon-twitter"></i></a></p>
                                    </div>
                                </div>
                                <div class="text-tab">
                                    <input type="text" placeholder="Email">
                                    <div class="celib-content">
                                        <h2>Celebrity’s Username </h2>
                                        <p>This username seems to be a celebrity’s username. If you are the one, please  link your account with either of the following:</p>
                                        <p><a href="#" class="social-icon"><i class="icon-facebbok"></i></a> or <a href="#" class="social-icon"><i class="icon-twitter"></i></a></p>
                                    </div>
                                </div>
                                <div class="text-tab">
                                    <input type="text" placeholder="Password">
                                </div>
                                <div class="text-tab">
                                    <input type="text" placeholder="Confirm Password">
                                </div>
                                <div class="text-tab">
                                    <input type="text" placeholder="Date of birth">
                                    <div class="date-main-sec">
                                        <div class="date">
                                            <p class="selectoption incremt">
                                                <span class="up"><i class="icon-birth_up_arrow"></i></span>
                                                <span class="down"><i class="icon-dropdown_icon"></i></span>
                                                <input type="text" value="0">
                                            </p>
                                        </div>
                                        <div class="month drop-tab">
                                            <p class="selectoption">
                                                <span class="up"><i class="icon-birth_up_arrow"></i></span>
                                                <span class="down"><i class="icon-dropdown_icon"></i></span>
                                                <input type="text" value="Nov">
                                            </p>
                                            <ul class="months-list drop-list">
                                                <li class="add-color-main">Choose Month</li>
                                                <li data-value="Jan"> January</li>
                                                <li data-value="Feb">February</li>
                                                <li data-value="Feb">March</li>
                                                <li data-value="Apr">April</li>
                                                <li data-value="May">May</li>
                                                <li data-value="Jun">June</li>
                                                <li data-value="Jul">July</li>
                                                <li data-value="Aug">August</li>
                                                <li data-value="Sep">September</li>
                                                <li data-value="Oct">October</li>
                                                <li class="active" data-value="Nov">November</li>
                                                <li data-value="Dec">December</li>


                                            </ul>
                                        </div>
                                        <div class="year">
                                            <p class="selectoption incremt">
                                                <span class="up"><i class="icon-birth_up_arrow"></i></span>
                                                <span class="down"><i class="icon-dropdown_icon"></i></span>
                                                <input type="text" value="1993">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="signup-btn-sec">
                                    <a class="btn-main signup" href="~/User/SignIn_2">Next</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>

    <!--pop-forgot-pass-->
    <div class="pop-div" data-pop="forgotpass">
        <div class="pop-head">
            <p>Forgot Password</p>
            <p class="submit-btn"><a href="#">Submit </a> <span class="close"><i class="icon-cross"></i></span></p>
        </div>
        <div class="pop-body">
            <div class="updetail-sec">
                <p class="up-img"><img src="~/images/lock.png"></p>
                <p>Enter your Mobile Number/Email ID below to reset your password.</p>
            </div>
            <div class="updetail-sec-2 sinup-form-sec ">
                <div class="text-tab">
                    <input type="text" placeholder="Enter Mobile Number/Email ID">
                </div>
            </div>

        </div>
    </div>
    <!--pop-forgot-pass-->

</body>
</html>