
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="mid-container">
    <div class="container">
        <aside class="left-sidebar">
            <ul class="nwside-bar-list">
                <li><a href="#">Discover Friends</a></li>
                <li>
                    <a href="#">Invite Friends</a>
                    <ul class="sub-list">
                        <li><a href="#">Friends1</a></li>
                        <li><a href="#">Friends2</a></li>
                    </ul>
                </li>
                <li><a href="#">Link Your Account</a></li>
                <li class="active">
                    <a href="#">Account Settings</a>
                    <ul class="sub-list">
                        <li><a href="#">Edit Profile </a></li>
                        <li class="active"><a href="#">Change Password</a></li>
                        <li><a href="#">Blocked Users</a></li>
                    </ul>
                </li>
                <li><a href="#">Revenue</a></li>
                <li ><a href="#">General</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Clear Search History</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </aside>
        <div class="content-area">
            <div class="settings-right">
                <form>
                    <div class="text-drop-sec reset">
                        <div class="text-tab">
                            <input type="text" placeholder="Old Password">
                            <span class="inp-error">Enter Password</span>
                        </div>
                        <div class="text-tab">
                            <input type="text" placeholder="New Password">
                            <span class="inp-error">Enter Password</span>
                        </div>
                        <div class="text-tab">
                            <input type="text" placeholder="Confirm New Password">
                            <span class="inp-error"></span>
                        </div>
                        <div class="text-right pt15">
                            <input type="submit" class="btn-main signup" value="SAVE CHANGES">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


