@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="mid-container">
    <div class="container">
        <aside class="left-sidebar">
            <ul class="nwside-bar-list">
                <li><a href="#">Discover Friends</a></li>
                <li>
                    <a href="#">Invite Friends</a>
                    <ul class="sub-list">
                        <li><a href="#">Friends1</a></li>
                        <li><a href="#">Friends2</a></li>
                    </ul>
                </li>
                <li><a href="#">Link Your Account</a></li>
                <li>
                    <a href="#">Account Settings</a>
                    <ul class="sub-list">
                        <li><a href="~/User/EditProfile">Edit Profile </a></li>
                        <li ><a href="~/User/ChangePassword">Change Password</a></li>
                        <li><a href="#">Blocked Users</a></li>
                    </ul>
                </li>
                <li><a href="~/User/Revenue">Revenue</a></li>
                <li class="active"><a href="~/User/GeneralFeedback">General</a></li>
                <li><a href="~/User/SendReport">Settings</a></li>
                <li><a href="#">Clear Search History</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </aside>
        <div class="content-area">
            <div class="settings-right">
                <div class="discover-friends">
                    <div class="profile-search">
                        <input type="search" placeholder="Search">
                        <div class="profile-search-result">
                            <div class="suggestions-box">
                                <div class="suggestions-head">
                                    follow all

                                    <a href="#" class="btn">follow all</a>
                                </div>
                                <div class="suggestions-body">
                                    <ol class="suggestions-list">
                                        <li>
                                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                                            <h4>jona_jo</h4>
                                            <p>Trisha Geller</p>
                                            <a href="#">Follow</a>
                                        </li>
                                        <li>
                                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                                            <h4>jona_jo</h4>
                                            <p>Trisha Geller</p>
                                            <a href="#">Follow</a>
                                        </li>
                                        <li class="following">
                                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                                            <h4>jona_jo</h4>
                                            <p>Trisha Geller</p>
                                            <a href="#">Following</a>
                                        </li>
                                        <li>
                                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                                            <h4>jona_jo</h4>
                                            <p>Trisha Geller</p>
                                            <a href="#">Follow</a>
                                        </li>
                                        <li>
                                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                                            <h4>jona_jo</h4>
                                            <p>Trisha Geller</p>
                                            <a href="#">Follow</a>
                                        </li>
                                        <li>
                                            <img src="~/images/group-5.png" height="70" width="70" alt="">
                                            <h4>jona_jo</h4>
                                            <p>Trisha Geller</p>
                                            <a href="#">Follow</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

