
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>vid.world</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/animations.css" rel="stylesheet" />
</head>
<body class="home">
    <div class="main-container">
        <div class="container">
            <div class="bg"></div>
            <header>
                <div class="logo animated fadeInLeft"><a href="~/User/Index" style="color:#fff;"><img src="~/images/header_logo.png"></a></div>
                <nav class="">
                    <button class="toggle-menu">
                        <span id="top" style="transform: rotateZ(0deg); top: 0px;"></span>
                        <span id="middle" style="opacity: 1;"></span>
                        <span id="bottom" style="transform: rotateZ(0deg); top: 14px;"></span>
                    </button>
                    <ul class="animated fadeInRight">
                        <li><a href="">How it works</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="~/User/SignIn" class="btn white-btn">Sign in</a></li>
                        <li><a href="" class="btn">Sign up</a></li>
                    </ul>
                </nav>
            </header>
            <section class="intro-section">
                <div class="intro-left animated fadeInUp">
                    <h1>Say hello to <br /> Vidworld </h1>
                    <p> Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                    <div class="app-buttons">
                        <a href="">
                            <img src="~/images/ios-icon.jpg" alt="" />
                            <div>
                                Available on
                                <span>App Store</span>
                            </div>
                        </a>
                        <!--<a href="">
                        <img src="images/android_icon.jpg" alt=""/>
                        <div>Available on
                            <span>Google Play</span>
                        </div>
                        </a>-->
                    </div>
                </div>
                <div class="intro-right animated fadeInUp">
                    <img src="~/images/phone.png" alt="" />
                </div>
            </section>
            <section class="featured-app">
                <div class="featured-title animated fadeInLeft">
                    <h1>FULLY FEATURED APP</h1>
                    <span></span>
                    <p>Lorem Ipsum. Proin gravida nibh vel velit  </p>
                </div>
                <div class="featured-content animated fadeInRight">
                    <div class="feat-left section-content">
                        <h3 class="title">See the app  <br>Everybody Loves</h3>
                        <p>Lorem Ipsum. Proin grav ida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                    </div>
                    <div class="feat-right animated fadeInRight">
                        <img src="~/images/featured-img-1.png" alt="featured app">
                        <img src="~/images/featured-img-2.png" alt="featured app">
                    </div>
                </div>
            </section>
            <section class="user-friendly animate">
                <div class="user-friendly-left animated fadeInLeft">
                    <img src="~/images/record-video.png" alt="">
                    <img src="~/images/chosse-ads.png" alt="">
                </div>
                <div class="user-friendly-right section-content animated fadeInLeft">
                    <h3 class="title">User Friendly Interface, <br>Easy to Use</h3>
                    <p> Lorem Ipsum. Proin grav ida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                </div>
            </section>
            <section class="discover">
                <div class="discover-left section-content  animated fadeInRight">
                    <h3 class="title">Discover The New <br>Features</h3>
                    <p>Lorem Ipsum. Proin nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio  amet nibh vulputate cursus a sit amet mauris.</p>
                </div>
                <div class="discover-right  animated fadeInRight">
                    <img src="~/images/back-image.png" alt="">
                    <img src="~/images/discover-new-features.png" alt="">
                </div>
            </section>
            <section class="other-features">
                <div class="featured-title animated fadeInUp">
                    <h1> Other features</h1>
                    <span></span>
                    <p>Lorem Ipsum. Proin nibh vel velit auctor</p>
                </div>
                <div class="feature-box animated fadeInUp">
                    <div class="feature-icon"><img src="~/images/video.png" alt=""></div>
                    <h4>UPLOAD VIDEOS</h4>
                    <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                </div>
                <div class="feature-box animated fadeInUp">
                    <div class="feature-icon"><img src="~/images/notification.png" alt=""></div>
                    <h4>GET NOTIFIED</h4>
                    <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                </div>
                <div class="feature-box animated fadeInUp">
                    <div class="feature-icon"><img src="~/images/chat.png" alt=""></div>
                    <h4>CHAT</h4>
                    <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                </div>
            </section>
            <section class="connect">
                <ul class="animated fadeIn">
                    <li>
                        <img src="~/images/group-5.png" alt="">
                        <img src="~/images/group-4.png" alt="">
                    </li>
                    <li>
                        <img src="~/images/group-3.png" alt="">
                    </li>
                    <li>
                        <img src="~/images/group-2.png" alt="">
                        <img src="~/images/group-1.png" alt="">
                    </li>
                </ul>
                <div class="connect-content animated fadeInLeft">
                    <h3>connect to the world with <br>VidWorld </h3>
                    <div class="app-buttons">
                        <a href="">
                            <img src="~/images/ios-icon.jpg" alt="">
                            <div>
                                Available on
                                <span>App Store</span>
                            </div>
                        </a>
                        <!--<a href="">
                            <img src="images/android_icon.jpg" alt="">
                            <div>Available on
                                <span>Google Play</span>
                            </div>
                        </a>-->
                    </div>
                </div>
                <img src="~/images/splash.png" alt="" class="">
            </section>
        </div>
        <footer class="foot-padding">
            <div class="container">
                <div class="footer-sec">
                    <div class="copyrite-txt">
                        <p>&#9400; 2018 vid.world </p>
                    </div>
                    <ul class="helpful-link">
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">TERMS AND CONDITIONS</a></li>
                        <li><a href="#">PRIVACY POLICY</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>

