
@{
    ViewBag.Title = "NotificationSetting";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="mid-container">
    <div class="container">
        <aside class="left-sidebar">
            <ul class="nwside-bar-list">
                <li><a href="#">Discover Friends</a></li>
                <li>
                    <a href="#">Invite Friends</a>
                    <ul class="sub-list">
                        <li><a href="#">Friends1</a></li>
                        <li><a href="#">Friends2</a></li>
                    </ul>
                </li>
                <li><a href="#">Link Your Account</a></li>
                <li>
                    <a href="#">Account Settings</a>
                    <ul class="sub-list">
                        <li><a href="#">Edit Profile </a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Blocked Users</a></li>
                    </ul>
                </li>
                <li><a href="#">Revenue</a></li>
                <li class="active"><a href="#">General</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Clear Search History</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </aside>
        <div class="content-area">
            <div class="account-settings settings-right">
                <div class="setting-type">
                    <p class="tags">Likes</p>
                    <div class="switch round off">
                        <input type="checkbox">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="setting-options">
                    <ul>
                        <li>
                            <p class="tags">From People I Follow</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p class="tags">From Everyone</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="setting-type">
                    <p class="tags">Comments</p>
                    <div class="switch round off">
                        <input type="checkbox">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="setting-options">
                    <ul>
                        <li>
                            <p class="tags">From People I Follow</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p class="tags">From Everyone</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="setting-type">
                    <p class="tags">Likes & Comments on Tagged Posts</p>
                    <div class="switch round off">
                        <input type="checkbox">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="setting-options">
                    <ul>
                        <li>
                            <p class="tags">From People I Follow</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p class="tags">From Everyone</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="setting-type">
                    <p class="tags">Follower Request</p>
                    <div class="switch round off">
                        <input type="checkbox">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="setting-options">
                    <ul>
                        <li>
                            <p class="tags">From Everyone</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="setting-type">
                    <p class="tags">Tagging</p>
                    <div class="switch round off">
                        <input type="checkbox">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="setting-options">
                    <ul>
                        <li>
                            <p class="tags">From People I Follow</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p class="tags">From Everyone</p>
                            <div class="radio-btn">
                                <label>
                                    <input type="checkbox" name="">
                                    <i class="icon-active"></i>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="setting-type">
                    <p class="tags">View Count</p>
                    <div class="switch round off">
                        <input type="checkbox">
                        <div class="toggle"></div>
                    </div>
                </div>

                <div class="setting-type">
                    <p class="tags">Revenue Generated on Each Post</p>
                    <div class="switch round off">
                        <input type="checkbox">
                        <div class="toggle"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

