
@{
    ViewBag.Title = "Revenue";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="mid-container">
    <div class="container">
        <aside class="left-sidebar">
            <ul class="nwside-bar-list">
                <li><a href="#">Discover Friends</a></li>
                <li>
                    <a href="#">Invite Friends</a>
                    <ul class="sub-list">
                        <li><a href="#">Friends1</a></li>
                        <li><a href="#">Friends2</a></li>
                    </ul>
                </li>
                <li><a href="#">Link Your Account</a></li>
                <li>
                    <a href="#">Account Settings</a>
                    <ul class="sub-list">
                        <li><a href="#">Edit Profile </a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Blocked Users</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">Revenue</a></li>
                <li><a href="#">General</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Clear Search History</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </aside>
        <div class="content-area">
            <div class="settings-right">
                <table class="revenue" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th><span class="black">Title</span></th>
                            <th><span class="yellow">Clicks</span></th>
                            <th><span class="blue">Revenue</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Gorgeous You</a></td>
                            <td>150</td>
                            <td>$120.00</td>
                        </tr>
                        <tr>
                            <td><a href="#">Yoga is Life</a></td>
                            <td>60</td>
                            <td>$20.00</td>
                        </tr>
                        <tr>
                            <td><a href="#">Blue Rays</a></td>
                            <td>20</td>
                            <td>$15.00</td>
                        </tr>
                        <tr>
                            <td><a href="#">Fine Dine</a></td>
                            <td>10</td>
                            <td>$10.00</td>
                        </tr>
                        <tr>
                            <td><a href="#">Fashion World</a></td>
                            <td>5</td>
                            <td>$5.55</td>
                        </tr>
                        <tr>
                            <td><a href="#">Love My Life</a></td>
                            <td>15</td>
                            <td>$30.00</td>
                        </tr>
                    </tbody>
                </table>
                <div class="total-revenue">
                    Total Revenue <span>$585.55</span>
                </div>
            </div>
        </div>
    </div>
</div>

