
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<script src="~/Scripts/Js_Controllers/Reviewer.Js"></script>
<script src="~/Scripts/resetForm.js"></script>

<div class="content" ng-controller="Reviewer_login">
    <div class="form-box">
        <form id="Form">
            <div class="input-row">
                <input type="text" name="" placeholder="Email" ng-model="forgetPasswordModel.Email" required autofocus>
            </div>

            <div class="input-row">
                <input type="submit" name="" value="Submit" onclick="resetLoginForm()"  ng-click="forgetPasswordApi()">
                <input type="submit" name="" value="Login" ng-click="Back()">
            </div>
        </form>
    
    </div>
</div>

