@{
    ViewBag.Title = "Review_Login";
    string cLayout = "";

    string token = "";
    if (Request.Cookies["SessionToken"] != null)
    {
        token = Request.Cookies["SessionToken"].Value;
    }

    if (token != "")
    {
        cLayout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        cLayout = "~/Views/Shared/_LoginLayout.cshtml";
    }
    Layout = cLayout;
}

<div class="main-container" ng-controller="TermsConditionController">
    <div class="mid-container">
        <div class="container">
            <div class="content-area">
                <div class="content">
                    <h2>Terms & Condition</h2>
                    <div class="inner-cotennt">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Js_Controllers/TermsAndCondition.js"></script>
