<div class="m-content" ng-controller="AboutUsController">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet custom-form-m-portlet">
                <div class="top_nav_pills">
                    <ul class="nav nav-pills nav-fill nav-fill-black mb-0" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" ui-sref="Setting">
                                General Settings
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" ui-sref="Categories">
                                Category/Interest Settings
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" ui-sref="TermsAndCondition">
                                Terms & Conditions
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" ui-sref="PrivacyPolicy">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" ui-sref="AboutUs">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" ui-sref="ContactUs">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
               
                    <div class="tab-pane active" id="about_us" role="tabpanel">
                        <div class="m-portlet__body">
                            <ul class="nav nav-pills nav-fill nav-fill-black" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" ng-class="{'active':UserActive==true}" ng-click="vm.ClickOnTab(1)">
                                        User
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-class="{'active':CelebrityActive==true}" ng-click="vm.ClickOnTab(2)">
                                        Celebrity
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-class="{'active':ReviewerActive==true}" ng-click="vm.ClickOnTab(3)">
                                        Reviewer
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="user_terms" ng-show="UserActive" ng-class="{'active':UserActive==true}">
                                    <form class="m-form m-form--fit m-form--label-align-left">
                                        <div class="m-portlet__body px-sm-5">
                                            <div class="form-group m-form__group row">
                                                <textarea rows="7" class="form-control m-input" name="Usertermsconditions"></textarea>
                                            </div>
                                            <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border">
                                                <div class="m-form__actions text-right">
                                                    <button type="button" class="btn btn-info m-btn m-btn--custom" ng-click="vm.saveUserTerms()">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="calebrity_terms" ng-show="CelebrityActive" ng-class="{'active':CelebrityActive==true}">
                                    <form class="m-form m-form--fit m-form--label-align-left">
                                        <div class="m-portlet__body px-sm-5">
                                            <div class="form-group m-form__group row">
                                                <textarea rows="7" class="form-control m-input" name="Celebritytermsconditions"></textarea>
                                            </div>
                                            <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border">
                                                <div class="m-form__actions text-right">
                                                    <button type="button" class="btn btn-info m-btn m-btn--custom" ng-click="vm.saveCelebrityTerms()">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="reviewer_terms" ng-show="ReviewerActive" ng-class="{'active':ReviewerActive==true}">
                                    <form class="m-form m-form--fit m-form--label-align-left">
                                        <div class="m-portlet__body px-sm-5">
                                            <div class="form-group m-form__group row">
                                                <textarea rows="7" class="form-control m-input" name="Reviewertermsconditions"></textarea>
                                            </div>
                                            <div class="m-portlet__foot m-portlet__foot--fit m-portlet__no-border">
                                                <div class="m-form__actions text-right">
                                                    <button type="button" class="btn btn-info m-btn m-btn--custom" ng-click="vm.saveReviewerTerms()">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>


            </div>
          </div>

    </div>
    <!--End::Section-->
</div>


