 <div class="m-content" ng-controller="CelebrityController">
                    <!--Begin::Section-->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="m-portlet">
                                <div class="sub_top_nav_pills">
                                    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active show" data-toggle="tab" href="" ng-click="vm.requestShow()"  role="tab" aria-selected="true">
                                                Verification Request
                                            </a>
                                        </li>

                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab" href="" role="tab" ng-click="vm.verifiedShow()" aria-selected="false">
                                                Verified Celebrities
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" ng-class="{'active':vm.Request==true}" id="veri_request" role="tabpanel" ng-show="vm.Request">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-tools">
                                                    <ul class="m-portlet__nav">
                                                        <li class="m-portlet__nav-item">
                                                            <div class="m-input-icon m-input-icon--left">
                                                                <input type="text" class="form-control m-input m-input--pill" placeholder="Search" ng-model="vm.SearchCelebrity" ng-change="vm.searchCelebrityList(vm.SearchCelebrity,1)">
                                                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                                                    <span>
                                                                        <i class="la la-search"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="m-portlet__nav-item">
                                                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                                                <a class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link filter">
                                                                    <i class="fa fa-filter"></i>
                                                                </a>
                                                                <div class="m-dropdown__wrapper">
                                                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                    <div class="m-dropdown__inner">
                                                                        <div class="m-dropdown__body">
                                                                            <div class="m-dropdown__content">
                                                                                <ul class="m-nav">
                                                                                    <li class="m-nav__item">
                                                                                        <a href="" class="m-nav__link" ng-click="vm.orderByMe('Age')">
                                                                                            <i class="m-nav__link-icon fa fa-birthday-cake"></i>
                                                                                            <span class="m-nav__link-text">
                                                                                                Age
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="m-nav__item">
                                                                                        <a href="" class="m-nav__link" ng-click="vm.orderByMe('Block')">
                                                                                            <i class="m-nav__link-icon fa fa-ban"></i>
                                                                                            <span class="m-nav__link-text">
                                                                                                Block/Unblock
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="m-nav__item">
                                                                                        <a href="" class="m-nav__link" ng-click="vm.orderByMe('Country')">
                                                                                            <i class="m-nav__link-icon fa fa-flag"></i>
                                                                                            <span class="m-nav__link-text">
                                                                                                Country
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">



                                                <div class="table-responsive">
                                                    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Sr. No.
                                                                </th>
                                                                <th>
                                                                    Display Name
                                                                </th>
                                                                <th>
                                                                    Username
                                                                </th>
                                                                <th>
                                                                    Age
                                                                </th>
                                                                <th>
                                                                    Email ID
                                                                </th>
                                                                <th>
                                                                    Verification Link
                                                                </th>
                                                                <th>
                                                                    Action
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="(key,item) in  vm.CelebrityList | orderBy:vm.myOrderBy ">
                                                                <td scope="row">
                                                                    {{key+((currentPage - 1) * 10)+1}}
                                                                </td>
                                                                <td>
                                                                    {{item.DisplayName}}
                                                                </td>
                                                                <td>
                                                                    {{item.Username}}
                                                                </td>
                                                                <td>
                                                                    {{item.Age}}
                                                                </td>
                                                                <td>
                                                                    {{item.Email}}
                                                                </td>
                                                                <td>
                                                                    <a href={{item.SocialHash}} target="_blank">{{item.SocialHash}}</a>
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-outline-success btn-sm" ng-click="vm.GetCelebrityProfileId(item)">View</a>
                                                                    <a class="btn btn-secondary btn-sm" ng-click="vm.BlockCelebrity(item)">{{item.Block}}</a>
                                                                    <a class="btn btn-success btn-sm" ng-click="vm.AcceptCelebrity(item)">Accept</a>
                                                                    <a class="btn btn-danger btn-sm" ng-click="vm.RejectCelebrity(item)">Reject</a>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="paging text-right">
                                                <a ng-show="currentPage>1" ng-click="prevPage()" class="btn btn-info">« Prev</a>
                                                <a ng-click="nextPage()" ng-show="(vm.CelebrityList.length >= 10 && totalCount > currentPage * pageSize)" class="btn btn-info">Next »</a>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="tab-pane" ng-class="{'active':vm.Verified==true}" id="veri_celebrities" role="tabpanel" ng-show="vm.Verified">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-tools">
                                                <ul class="m-portlet__nav">
                                                    <li class="m-portlet__nav-item">
                                                        <div class="m-input-icon m-input-icon--left">
                                                            <input type="text" class="form-control m-input m-input--pill" placeholder="Search" ng-model="vm.SearchVerifiedCelebrity" ng-change="vm.searchVerifiedCelebrityList(vm.SearchVerifiedCelebrity,1)">
                                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                                <span>
                                                                    <i class="la la-search"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li class="m-portlet__nav-item">
                                                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                                            <a class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link filter">
                                                                <i class="fa fa-filter"></i>
                                                            </a>
                                                            <div class="m-dropdown__wrapper">
                                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                                <div class="m-dropdown__inner">
                                                                    <div class="m-dropdown__body">
                                                                        <div class="m-dropdown__content">
                                                                            <ul class="m-nav">
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link" ng-click="vm.orderByMe('Age')">
                                                                                        <i class="m-nav__link-icon fa fa-birthday-cake"></i>
                                                                                        <span class="m-nav__link-text">
                                                                                            Age
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link" ng-click="vm.orderByMe('Block')">
                                                                                        <i class="m-nav__link-icon fa fa-ban"></i>
                                                                                        <span class="m-nav__link-text">
                                                                                            Block/Unblock
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="m-nav__item">
                                                                                    <a href="" class="m-nav__link" ng-click="vm.orderByMe('Country')">
                                                                                        <i class="m-nav__link-icon fa fa-flag"></i>
                                                                                        <span class="m-nav__link-text">
                                                                                            Country
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="m-portlet__body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Sr. No.
                                                            </th>
                                                            <th>
                                                                Display Name
                                                            </th>
                                                            <th>
                                                                Username
                                                            </th>
                                                            <th>
                                                                Age
                                                            </th>
                                                            <th>
                                                                Email ID
                                                            </th>
                                                            <th>
                                                                Mobile Number
                                                            </th>
                                                            <th>
                                                                Country
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(key,item) in  vm.VerifiedCelebrityList | orderBy:vm.myOrderBy ">
                                                            <td scope="row">
                                                                {{key+((currentPage1 - 1) * 10)+1}}
                                                            </td>
                                                            <td>
                                                                {{item.DisplayName}}
                                                            </td>
                                                            <td>
                                                                {{item.Username}}
                                                            </td>
                                                            <td>
                                                                {{item.Age}}
                                                            </td>
                                                            <td>
                                                                {{item.Email}}
                                                            </td>
                                                            <td>
                                                                {{item.PhoneNumber}}
                                                            </td>
                                                            <td>
                                                                {{item.Country}}
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-outline-success btn-sm" ng-click="vm.GetCelebrityProfileId(item)">View</a>
                                                                <a class="btn btn-secondary btn-sm" ng-click="vm.BlockCelebrity(item)">{{item.Block}}</a>
                                                            </td>
                                                        </tr>                                                     
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="paging text-right">
                                                <a ng-show="currentPage1>1" ng-click="prevPage1()" class="btn btn-info">« Prev</a>
                                                <a ng-click="nextPage1()" ng-show="(vm.VerifiedCelebrityList.length >= 10 || totalCount > currentPage1 * pageSize)" class="btn btn-info">Next »</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="new_reviewer" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    New Reviewer
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">
                                                        &times;
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-control-label">
                                                            Name:
                                                        </label>
                                                        <input type="text" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email-text" class="form-control-label">
                                                            Email:
                                                        </label>
                                                        <input type="text" class="form-control" id="email-text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="phone-text" class="form-control-label">
                                                            Phone:
                                                        </label>
                                                        <input type="text" class="form-control" id="phone-text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password-text" class="form-control-label">
                                                            Assign Password:
                                                        </label>
                                                        <input type="password" class="form-control" id="password-text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Confirm-text" class="form-control-label">
                                                            Confirm Password:
                                                        </label>
                                                        <input type="password" class="form-control" id="Confirm-text">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button type="button" class="btn btn-info">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--End::Section-->
                </div>
         