 <div class="m-content" ng-controller="ReportedUserController">
                    <!--Begin::Section-->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="m-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input m-input--pill" placeholder="Search" ng-model="vm.SearchReportedUser" ng-change="vm.searchReportedUserList(vm.SearchReportedUser,1)">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="m-portlet__nav-item">
                                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
                                                    <a class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link filter">
                                                        <i class="fa fa-filter"></i>
                                                    </a>
                                                    <div class="m-dropdown__wrapper">
                                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                        <div class="m-dropdown__inner">
                                                            <div class="m-dropdown__body">
                                                                <div class="m-dropdown__content">
                                                                    <ul class="m-nav">
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link" ng-click="vm.orderByMe('Age')">
                                                                                <i class="m-nav__link-icon fa fa-birthday-cake"></i>
                                                                                <span class="m-nav__link-text">
                                                                                    Age
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link" ng-click="vm.orderByMe('Block')">
                                                                                <i class="m-nav__link-icon fa fa-ban"></i>
                                                                                <span class="m-nav__link-text">
                                                                                    Block/Unblock
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="m-nav__item">
                                                                            <a href="" class="m-nav__link" ng-click="vm.orderByMe('Country')">
                                                                                <i class="m-nav__link-icon fa fa-flag"></i>
                                                                                <span class="m-nav__link-text">
                                                                                    Country
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Sr. No.
                                                    </th>
                                                    <th>
                                                        Reported User
                                                    </th>
                                                    <th>
                                                        Username
                                                    </th>
                                                    <th>
                                                        Age
                                                    </th>
                                                    <th>
                                                        Email ID
                                                    </th>
                                                    <th>
                                                        Mobile
                                                    </th>
                                                    <th>
                                                        Country
                                                    </th>
                                                    <th>
                                                        Reported Count
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key,item) in  vm.ReportedUserList | orderBy:vm.myOrderBy ">
                                                    <td scope="row">
                                                        {{key+((currentPage - 1) * 10)+1}}
                                                    </td>
                                                    <td>
                                                        {{item.DisplayName}}
                                                    </td>
                                                    <td>
                                                        {{item.Username}}
                                                    </td>
                                                    <td>
                                                        {{item.Age}}
                                                    </td>
                                                    <td>
                                                        {{item.Email}}
                                                    </td>
                                                    <td>
                                                        {{item.PhoneNumber}}
                                                    </td>
                                                    <td>
                                                        {{item.Country}}
                                                    </td>
                                                    <td>
                                                        {{item.NoOfReport}}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-success btn-sm" ng-click="vm.GetReportedUserProfileId(item)">View</a>
                                                        <a class="btn btn-secondary btn-sm" ng-click="vm.BlockReportedUser(item)">{{item.Block}}</a>
                                                    </td>
                                                </tr>
                                           
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="paging text-right">
                                        <a ng-show="currentPage>1" ng-click="prevPage()" class="btn btn-info">« Prev</a>
                                        <a ng-click="nextPage()" ng-show="(vm.ReportedUserList.length >= 10 && totalCount > currentPage * pageSize)" class="btn btn-info">Next »</a>
                                    </div>
                                </div>
                            </div>
                           

                        </div>

                    </div>
                    <!--End::Section-->
                </div>
        