 <div class="m-content" ng-controller="HomeController">
    <!--Begin::Section-->

    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-3">
                    <!--begin:: Widgets/Stats2-1 -->
                    <div class="m-widget1 text-center">
                        <h5 class="dash-title">Users</h5>
                        <i class="dash-icon la la-user"></i>
                        <p class="dash-count">{{vm.UserCount}}</p>
                    </div>
                    <!--end:: Widgets/Stats2-1 -->
                </div>
                <div class="col-xl-3">
                    <!--begin:: Widgets/Daily Sales-->
                    <div class="m-widget14 text-center">
                        <h5 class="dash-title">Celebrities</h5>
                        <i class="dash-icon la la-users"></i>
                        <p class="dash-count">{{vm.CelebrityCount}}</p>
                    </div>
                    <!--end:: Widgets/Daily Sales-->
                </div>
                <div class="col-xl-3">
                    <!--begin:: Widgets/Profit Share-->
                    <div class="m-widget14 text-center">
                        <h5 class="dash-title">Reviewers</h5>
                        <i class="dash-icon la la-share-alt"></i>
                        <p class="dash-count">{{vm.ReviewerCount}}</p>
                    </div>
                    <!--end:: Widgets/Profit Share-->
                </div>
                <div class="col-xl-3">
                    <!--begin:: Widgets/Profit Share-->
                    <div class="m-widget14 text-center">
                        <h5 class="dash-title">Available Tracking IDs</h5>
                        <i class="dash-icon la la-bullseye"></i>
                        <p class="dash-count">{{AmazonId==0?vm.TrackingIdCount:AmazonId}}</p>
                    </div>
                    <!--end:: Widgets/Profit Share-->
                </div>
            </div>
        </div>
    </div>
    <!--End::Section-->
</div>
        
