<div class="m-content" ng-controller="ReportedCommentDetailController">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-8">
                            <div class="post-wrapper">
                                <div class="post">
                                    <div class="post-user">
                                        
                                            <img src="{{vm.PostDetail[0].ProfileImageUrl==''?'/Assets/images/profile.jpg':vm.PostDetail[0].ProfileImageUrl}}" height="80" width="80" alt="">
                                        
                                        <h4 class="">{{vm.PostDetail[0].Username}}</h4>

                                        <p ng-show="vm.PostDetail[0].PostViewerCount>0">{{vm.PostDetail[0].PostViewerCount}}&nbsp;{{vm.PostDetail[0].PostViewerCount==1?'view':'views'}}</p>
                                    </div>
                                    <div class="post-video">
                                        <div class="video-thumb youtube">
                                            <img src="{{vm.PostDetail[0].ThumbnailUrl}}" ng-click="vm.WatchVideo(vm.PostDetail[0],$event)">
                                            <img src="Assets/images/play_small.png" ng-click="vm.WatchVideo(vm.PostDetail[0],$event)" class="video-play-icon">
                                        </div>
                                        <div class="video" style="display: none;">
                                            <iframe width="630" id="youtube_video" height="334" frameborder="0" gesture="media" allow="autoplay" allowfullscreen="" src="{{vm.PostDetail.ShowMediaUrl}}"></iframe>
                                        </div>
                                    </div>

                                    <div class="post-actions">
                                        <ol>
                                            <li><i class="la la-heart"></i></li>
                                            <li><i class="la la-comment"></i></li>
                                            <li><i class="la la-tag"></i></li>
                                        </ol>
                                    </div>
                                    <p class="liked-by" ng-show="vm.PostDetail[0].PostLikeCount>0">
                                        Liked by
                                        <span>{{vm.PostDetail[0].LikeList[0].Username}}</span>
                                        <span ng-show="vm.PostDetail[0].PostLikeCount>1">, {{vm.PostDetail[0].LikeList[1].Username}}</span>
                                        <!-- <a  ng-show="item.LikeList.length>2">, {{item.LikeList[2].Username}}</a>-->
                                        <span class="cursor-pointer" data-toggle="modal" data-target="#like_list" ng-show="vm.PostDetail[0].PostLikeCount>3" ng-click="vm.LikeListMethod(vm.PostDetail[0])"> and {{vm.PostDetail[0].PostLikeCount-2}} others.</span>

                                    </p>

                                    <h3>{{vm.PostDetail[0].Title}}</h3>
                                    <!--<p class="hash-tags" ng-repeat="obj in vm.PostDetail[0].HashTags"><a href="">#{{obj.HashTag}}</a></p>-->
                                    <p>{{vm.PostDetail[0].Description}}</p>
                                    <div class="post-detail">

                                        <div ng-repeat="advertismentObject in vm.PostDetail[0].AdvertisementList" class="advt">
                                            <div class="pos-rel" ng-click="vm.RedirectToUrl(advertismentObject)">
                                                <img src="{{advertismentObject.ImageLink}}" class="cursor-pointer">
                                               
                                            </div>
                                            <div class="advt-detail" ng-click="vm.RedirectToUrl(advertismentObject)">
                                                <div class="affiliate-title ng-binding">{{advertismentObject.Title}}</div>
                                                <div class="affiliate-price ng-binding">${{advertismentObject.Amount}}</div>
                                            </div>
                                        </div>


                                    </div>
                                    <!--<p class="view-all-comments cursor-pointer"><span data-toggle="modal" data-target="#comment" ng-click="vm.getViewCommentData(vm.PostDetail[0])">View all {{vm.PostDetail[0].PostCommentCount}} {{vm.PostDetail[0].PostCommentCount>1?'comments':'comment'}}</span></p>-->
                                    <span class="view-all-comments cursor-pointer" data-toggle="modal" data-target="#comment" ng-click="vm.getViewCommentData(vm.PostDetail[0])" ng-show="item.PostCommentCount>0">View all {{vm.PostDetail[0].PostCommentCount}} {{vm.PostDetail[0].PostCommentCount>1?'comments':'comment'}}</span>

                                    <ol class="comments">
                                        <li ng-show="vm.PostDetail[0].CommentList.length>0"><span class="nw-name cursor-pointer dont-break">{{vm.PostDetail[0].CommentList[0].Username}}</span> <span class="dont-break" ng-bind-html="vm.PostDetail[0].CommentList[0].Comment| highlight"></span><span ng-show="vm.PostDetail[0].CommentList[0].Comment.length>1000">...</span></li>
                                        <li ng-show="vm.PostDetail[0].CommentList.length>1"><span class="nw-name cursor-pointer dont-break">{{vm.PostDetail[0].CommentList[1].Username}}</span> <<span class="dont-break" ng-bind-html="vm.PostDetail[0].CommentList[1].Comment| highlight"></span><span ng-show="vm.PostDetail[0].CommentList[1].Comment.length>1000">...</span></li>

                                    </ol>
                                    
                                            <h4 style="color:#33B5FF">Reported Comment : </h4>
                                    <p class="dont-break">{{vm.ReportedComment}}</p>
                                      
                                    <p class="post-time time">{{vm.PostDetail[0].Ago|date:'MMM d, HH:mm'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            </div>

        </div>
    <!--End::Section-->
</div>
